<div class="book-thumb">
  <a href="<%= book.href %>">
    <img class="cover" src="<%= digest_url(book.cover) %>"/>
    <div class="title"> <%= book.title %> </div>
  </a>
  <% if not book.authors.nil? %>
  <div class="author"> <%= book.authors %> </div>
  <% end %>
</div>
