<div class="book-thumb">
  <a href="<%= "/book/#{book.url}/" %>">
    <img class="cover"
         src="<%= book_cover_url(book.url, :medium) %>"/>
    <div class="title">
      <%= book.title %>
    </div>
  </a>
  <% if not book.authors.nil? %>
    <div class="author">
      <%= book.authors %>
    </div>
  <% end %>
</div>
