<a href="<%= "/book-category/#{category}/" %>">
  <% if upcase %>
    <%= Unicode::upcase(@categories[category].name) %>
  <% else %>
    <%= @categories[category].name %>
  <% end %>
</a>&nbsp;<span class="size"><%= count_category(@categories, category) %></span>
