<%
  if upcase
    name = Unicode::upcase(category.name)
  else
    name = category.name
  end
%>
<a href="<%= "/book-category/#{category.url}/" %>"><%= name %>
</a>&nbsp;<span class="size"><%= category.count %></span>
