<div class="row">
  <% classes.each do |c| %>
    <div class="plan col-lg-6">
      <h2 class="title"> <%= c.title %> </h2>
      <div class="dates">
        <% if not (c.begin.nil? and c.end.nil?)%>
          <span class="date-value"> <%= classes_dates(c) %> </span>
        <% end %>
      </div>
      <% c.timetable.each do |timetable| %>
        <h3 class="day"> <%= translate_day(timetable.day) %> </h3>
        <h3 class="time"> <%= "#{timetable.begin}-#{timetable.end}" %> </h3>
      <% end %>
    </div>
  <% end %>
</div>
