<div class="section">
  <div class="title"> <%= title %> </div>
  <% classes.each do |c| %>
  <div class="class">
    <img src="/classes/stub.jpg"/>
    <div class="description">
      <div class="title"> <%= c.title %> </div>
      <% if not (c.begin.nil? and c.end.nil?)%>
        <div class="dates"> <%= classes_dates(c) %> </div>
      <% end %>
      <div class="days"> <%= classes_days(c) %> </div>
    </div> <%# description %>
  </div> <%# class %>
  <% end %>
</div>
