<div class="site-contacts">
  <a class="facebook" target="_blank"
     href="https://www.facebook.com/MoscowBuddhistCenterofLamaTsonkapa/"></a>
  <div class="copyright left"> 1998- <%= Date.today.year %> </div>
  <div class="name"> Московский Буддийский Центр Ламы Цонкапы </div>
  <div class="address left">
    БЦ&nbsp;Платформа, Спартаковский&nbsp;пер. дом&nbsp;2,
    стр.&nbsp;1, Подъезд&nbsp;7, 3&nbsp;этаж
    <a href="/contacts/">На карте</a>
  </div>
  <div class="phone left">
    <a href="tel:+74992376579"> +7&nbsp;(499)&nbsp;237-65-79</a>
  </div>
  <a class="old-site" href="<%= SiteConfig::OLD_SITE %>" target="_blank"> Старая версия сайта </a>
</div> <%# contacts %>
