<div class="contacts">
  <div class="copyright">
    <img src="<%= digest_url('/copyright.svg') %>"/>
    1998-2017
  </div>
  <div class="name">
    Московский Буддийский Центр Ламы Цонкапы
  </div>
  <div class="address">
    <img src="<%= digest_url('/pin.svg') %>"/>
    <span>
      БЦ Платформа, Спартаковский пер. дом 2, стр. 1, Подъезд 7-1, 3 этаж
      &nbsp;&nbsp;<a href="/contacts/">Схема проезда</a>
    </span>
  </div>
  <div class="phone">
    <img src="<%= digest_url('/phone.svg') %>"/>
    <a href="tel:+74972376579">+7&nbsp;(497)&nbsp;237-65-79</a>
  </div>

  <a href="<%= SiteConfig::OLD_SITE %>" class="old-site">
    Старая версия сайта
  </a>
</div> <%# contacts %>
