<div class="contacts">
  <div class="copyright">
    <img src="<%= digest_url('/copyright.svg') %>"/>
    1998-2016
  </div>
  <div class="name">
    Московский Буддийский Центр Ламы Цонкапы
  </div>
  <div class="address">
    <img src="<%= digest_url('/pin.svg') %>"/>
    Москва, ул. Мытная 23, корп.1
  </div>
  <div class="phone">
    <img src="<%= digest_url('/phone.svg') %>"/>
    <a href="tel:+74972376579">+7&nbsp;(497)&nbsp;237-65-79</a>
  </div>
</div> <%# contacts %>
