<span class="bookcare">
  <center><h3> Как обращаться с буддийскими текстами и книгами </h3></center>

  <p>Дхарма - Учение Будды - священное лекарство, которое помогает и вам,
  и другим избавляться от страданий. Поэтому ко всем книгам, содержащим
  Учение Будды, на каком бы языке они ни были бы написаны, надо относиться
  с уважением. Не следует класть их на пол или на стул, ставить на них
  какие-либо предметы - даже изображения Будды. Нельзя слюнявить пальцы,
  переворачивая страницы. Хранить книги Дхармы полагается в алтаре или
  другом почётном месте. Если нужно избавится от испорченного или
  повреждённого священного текста, лучше сжечь его, чем выбросить
  в мусорное ведро.</p>

  <p><center>Подобным же образом рекомендуется почитать священные книги
  других религий.</center></p>
</span>

<span class="title"> Последние добавленные </span>
<% books.each do |book| %>
  <%= book_thumb(book) %>
<% end %>
<%# <span class="title"> %>
<%#   Новинки <a href="http://www.buddhabook.ru" target="_blank"> BUDDHABOOK.RU </a> %>
<%# </span> %>
<% bookshop.each do |book| %>
  <%= book_thumb(book, false) %>
<% end %>
