<div class="news">
  <div class="date">
    <%= Russian::strftime(news.date, "%d %B") %>
  </div>
  <div class="title">
    <%= news.title %>
  </div>
  <div class="body">
    <%= render_news(index ? news.cut : news.body, slug) %>
  </div>
  <% if index and news.has_more %>
    <div class="more">
      <a href="<%= "news/#{slug}/" %>"> Подробнее </a>
    </div>
  <% end %>
</div>
