<div class="site-record">
  <% if idx %>
    <div class="index"> <%= idx %> </div>
  <% end %>
  <!-- wrapper for a is to simplify button image layout -->
  <div class="description"> <%= record_link(record, idx) %> </div>
  <div class="date"> <%= record_date(record) %> </div>
  <div class="download"> <%= record_download(record) %> </div>
</div>
