<div class="site-record">
  <%= div_if(idx, "index", idx) %>
  <!-- wrapper for a is to simplify button image layout -->
  <div class="description"> <%= record_link(record, idx) %> </div>
  <div class="date"> <%= record_date(record) %> </div>
  <div class="download"> <%= record_download(record) %> </div>
</div>
