<div class="site-records">
<% records.each_with_index do |record, idx| %>
  <div class="record">
    <div class="index"> <%= idx + 1 %> </div>
    <!-- wrapper for a is to simplify button image layout -->
    <div class="description"> <%= record_link(record, idx + 1) %> </div>
    <div class="date"> <%= record_date(record) %> </div>
    <div class="download"> <%= record_download(record) %> </div>
  </div>
<% end %>
</div> <%# records %>
