<div class="fotorama">
  <% options = {
    full_path: false,
    sorted: true
  } %>
  <% each_file("data/#{url}/#{directory}", options) do |name| %>
    <% if root %>
      <img src="<%= "#{url}/#{directory}/#{name}" %>">
    <% else %>
      <img src="<%= "#{directory}/#{name}" %>">
    <% end %>
  <% end %>
</div>
