<div class="fotorama">
  <% options = {
    full_path: false,
    sorted: true
  } %>
  <% each_file("data/#{url}/#{directory}", options) do |name| %>
    <% if root %>
      <a href="<%= "#{url}/#{directory}/#{name}" %>"></a>
    <% else %>
      <a href="<%= "#{directory}/#{name}" %>"/></a>
    <% end %>
  <% end %>
</div>
