<!-- NOTE!!! mailerlite script below expects some structure from
this div, thus edit group names and overall structure with care -->

<div id="site-subscription" class="mail ml-subscribe-form ml-subscribe-form-4094002">
  <div class="welcome">
    Подписаться на рассылку </br> о регулярных занятиях и событиях центра
  </div>
  <div class="ml-block-success">
    Вам выслано письмо для подтверждения подписки.
  </div>
  <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/s1o7g1" data-code="s1o7g1" method="post" target="_blank">
    <div class="subscribe-form">
      <div class="form-section edit">
        <div class="form-group ml-field-group ml-field-email ml-validate-email ml-validate-required">
          <input type="email" class="email" data-inputmask="" name="fields[email]" placeholder="Введите email" autocomplete="email">
        </div>
      </div>
      <div class="form-section button">
        <button type="submit" class="site-button primary">Подписаться</button>
        <button disabled="disabled" type="button" class="site-button loading">
          <img src="//static.mailerlite.com/images/rolling.gif">
        </button>
      </div>
    </div>
    <input type="hidden" name="ml-submit" value="1">
    <input type="hidden" name="anticsrf" value="true">
  </form>
</div>
<script>
  function ml_webform_success_4094002() {
    jQuery(".ml-subscribe-form-4094002 .ml-block-success").show();
    jQuery(".ml-subscribe-form-4094002 .ml-block-form").hide();
  }
</script>
<img src="https://track.mailerlite.com/webforms/o/4094002/s1o7g1?v1620922682"/>
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>
