<div class="page-header-buddha">
  <div class="title"> Расписание занятий </div>
</div>
<div class="view-selecto;">
  <a href="/timetable?show=week">На неделю</a>
  <a href="/timetable?show=schedule">План</a>
<div>
