<div class="page-header-buddha">
  <div class="title"> Расписание занятий </div>
</div>
<div class="tab-imitator">
  <a class="<%= "active" if selected == :week %>"
     href="/timetable?show=week">НА НЕДЕЛЮ</a>
  <a class="<%= "active" if selected == :schedule %>"
     href="/timetable?show=schedule">ПЛАН</a>
</div>
<div class="site-baner">
    <img src="/wheel.png">
    <div class="message"> <%= banner %> </div>
</div>
