<%= timetable_place_events(events, 'Спартаковская') %>
<%= timetable_place_events(events, 'Мытная') %>
<%= timetable_place_events(events, 'Весна') %>
<% if events.empty? %>
<div class="site-events">
  <div class="event">
    <div class="time"> </div>
    <div class="title empty"> Нет занятий </div>
  </div>
</div>
<% end %>
