<% clazz = "day" %>
<% clazz += " current" if date == Date.today %>
<div class="<%= clazz %>">
  <div class="date">
    <div class="month-day"> <%= date.day %> </div>
    <div class="week-day"> <%= Russian::strftime(date, "%a") %> </div>
  </div>
  <%= erb :'partials/week_day_short', locals: { events: events } %>
</div> <%# day %>
