/main
/edit
/.cache
/config.rb
/.bsym
/.main.db
/.edit.db
/.build
/.git-edit
/import/news/tmp
/import/news-site/tmp
/import/old-news/tmp
/import/old-news/buddhadb.dump
/import/records/tmp
/public/css
/public/bundle.css
/public/audio
/routines/records/download
/routines/records/tmp
/routines/records/secrets.json
/routines/records/credentials.yaml
