<div class='archive'>
  <h1 class="header"> Учения переданные в центре </h1>
  <% @archive.year.each do |year| %>
    <h1> <%= year.year %> </h1>
    <% year.teachings.each do |id| %>
      <h2 class="teachings">
        <a href="<%= "teachings/#{id}" %>">
          <%= @teachings[id].title %>
        </a>
      </h2>
      <% @teachings[id].theme.each do |theme| %>
        <div class="theme">
          <%= "#{theme.title}" %>
        </div>
      <% end %>
    <% end %>
    <hr/>
  <% end %>
</div>
