<%= erb :'partials/time_header',
    locals: {
      selected: :schedule,
      banner: @timetable.banner
    }
%>

<div class="page-classes">
  <div class="annual"> <%= @timetable.annual %> </div>

  <%  week = Week.new + @skip %>
  <%= erb :'partials/classes', locals:
    { title: "Текущие",
      classes: @timetable.classes.select { |c| c.actual?(week) },
      week: week,
    } %>
  <hr/>

  <%= erb :'partials/classes', locals:
    { title: "Будущие",
      classes: @timetable.classes.select { |c| c.future?(week) },
      week: week,
    } %>
</div>
