<%= erb :'partials/time_header',
    locals: {
      selected: :schedule,
      banner: @timetable.banner
    }
%>

<div class="page-classes">
  <div class="annual"> <%= @timetable.annual %> </div>

  <div class="sections">
  <%  week = Week.new + @skip %>
  <%= erb :'partials/classes', locals:
    { title: "Текущие",
      classes: @timetable.classes.select { |c| c.actual?(week) },
      week: week,
    } %>

  <%= erb :'partials/classes', locals:
    { title: "Будущие",
      classes: @timetable.classes.select { |c| c.future?(week) },
      week: week,
    } %>
  <div>
</div>
