<div class="classes">
  <%= erb :'partials/time_header',
      locals: {
        selected: :schedule,
        banner: @timetable.banner
      }
  %>

  <div class="annual"> <%= @timetable.annual %> </div>

  <%= erb :'partials/classes', locals:
    { title: "Текущие",
      classes: @timetable.classes.select { |c| c.actual? },
    } %>
  <hr/>

  <%= erb :'partials/classes', locals:
    { title: "Будущие",
      classes: @timetable.classes.select { |c| c.future? },
    } %>
</div>
