<div class="page-conflicts">
<h1>Рассинхронизация</h1>

<p>Версия сайта для редактирования отличается от публичной версии. Причина
этого - одновременное внесение изменений администратором и вами в одни и те же
места сайта. Что в свою очередь возможно по двум причинам. Либо вы долго
держите изменения неопубликованными. Либо начали редактировать файлы на сетевом
диске сайта до авторизации на сайте. В последнем случае изменения вероятно
невелики, и вы можете сбросить их и заново внести после сброса.  Если же
проделана значительная работа - можете продолжить редактирование, но изменения
можно будет опубликовать только через администратора, также редактируемая
версия будет отличаться от опубликованной, как уже говорилось.</p>

<p> <strong>Внимание</strong>: перед сбросом закройте все файлы на сетевом диске
сайта. Рассинхронизацию в большинстве случаев можно избежать, следуя простому
правилу: перед внесением изменений в файлы сайта сначала авторизуйтесь.</p>

<a class="site-button continue" href="/"> Продолжить </a>
<a class="site-button reset" href="/reset"> Сбросить </a>

</div>
