<div class="donations">
  <div class="header">
    <h1> Пожертвования </h1>
    <h3> <a href="/"> &larr; Назад</a> </h3>
  </div>
  <div class="content">
    <p>
      Буддийский Центр Ламы Цонкапы не является коммерческой организацией, у него нет
      никаких спонсоров. Средства, на которые существует буддийский Центр, – это
      добровольные подношения, пожертвования прихожан. Если у вас есть желание
      и возможность материально помочь буддийскому Центру, вы можете сделать
      пожертвование.
    </p>
    <div class="row properties">
      <div class="col-lg-5">
        <iframe frameborder="0" allowtransparency="true" scrolling="no"
                src="<%= yandex_money_url(41001522970769,
                  'Московский Буддийский Центр Ламы Цонкапы',
                  100, '/donations/') %>"
                width="450" height="177">
        </iframe>
      </div>
      <div class="col-lg-7">
        <div class="table">
          <div class="row">
            <div class="column">Получатель</div>
            <div class="column">Местная религиозная организация - Московский Буддийский Центр Ламы Цонкапы Московский банк Сбербанка России</div>
          </div>
          <div class="row">
            <div class="column">Банк получателя</div>
            <div class="column">ОАО "Сбербанк России" г. Москва</div>
          </div>
          <div class="row">
            <div class="column">Р/с</div>
            <div class="column">№ 40703810738250121311</div>
          </div>
          <div class="row">
            <div class="column">Кор/сч</div>
            <div class="column">№ 30101810400000000225</div>
          </div>
          <div class="row">
            <div class="column">БИК</div>
            <div class="column">044525225</div>
          </div>
          <div class="row">
            <div class="column">ИНН</div>
            <div class="column">7731244887</div>
          </div>
          <div class="row">
            <div class="column">КПП</div>
            <div class="column">772501001</div>
          </div>
          <div class="row">
            <div class="column">Назначение платежа</div>
            <div class="column">Добровольное пожертвование на ведение уставной деятельности. Без НДС.</div>
          </div>
        </div>
      </div>
    </div>
    <p>
      Выражаем сердечную благодарность всем людям, которые оказали помощь нашему
      буддийскому центру! Пусть ваши заслуги приумножатся!
    </p>
  </div>
</div>
