<div class="error">
  <div class="title">Ой. Что-то пошло не так.</div>
  <div class="message">

    Ошибки сайта испектируются (обычно), так что эта ошибка скоро будет
    исправлена. Если недоступна обычно доступная страница сайта&nbsp;&mdash; отправьте
    её&nbsp;адрес администратору на
    <a href="mailto:admin@buddha.ru">admin@buddha.ru</a>,
    это ускорит процесс починки.

  </div>
  <div class="url">
    <a href="/">Перейти на главную&nbsp;&rarr;</a>
  </div>
</div>
