<div class="main">
  <div class="menu">
    <a href="/news?top=true"> <h1> Новости </h1> </a>
    <a href="/archive"> <h1> Учение переданные в центре </h1> </a>
    <a href="/library"> <h1> Библиотека центра </h1> </a>
  </div>
</div>
