<div class="index">
  <div class="dynamic">
    <div class="news">
      <div class="header">
        <div class="title"> Новости </div>
        <a href="/news?top=true">ВСЕ НОВОСТИ&nbsp;&rarr;</a>
      </div>
      <div class="feed">
        <% @news.each do |row| %>
          <%= erb :'partials/news', locals: { slug: row[:slug],
                                              news: row[:news],
                                              index: true } %>
          <hr/>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div class="timetable">
        <div class="header">
          <div class="title"> Сегодня в центре </div>
          <a href="/timetable?show=week">ВСЕ РАСПИСАНИЕ&nbsp;&rarr;</a>
        </div>
        <hr/>
        <% day = Date.today %>
        <%= erb :'partials/week_day_short', locals: {
          events: timetable_events(@timetable, day, day) } %>
      </div>
      <div class="records">
        <div class="header">
          <div class="title"> Новые записи </div>
          <a href="/archive/">ВСЕ ЗАПИСИ&nbsp;&rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
