<div class="main">
  <div class="menu">
    <a href="/news?top=true"> <h1> Новости </h1> </a>
    <a href="/archive/"> <h1> Учение переданные в центре </h1> </a>
    <a href="/library/"> <h1> Библиотека центра </h1> </a>
    <a href="/timetable?show=week"> <h1> Занятия </h1> </a>
    <a href="/teachers/"> <h1> Учителя </h1> </a>
    <a href="/activities/"> <h1> Деятельность </h1> </a>
    <a href="/links/"> <h1> Ссылки </h1> </a>
    <a href="/about/"> <h1> О центре </h1> </a>
    <a href="/contacts/"> <h1> Контакты </h1> </a>
    <a href="/donations/"> <h1> Пожертвования </h1> </a>
  </div>
  <div></div>

  <form class="form-inline subscription" action="subscribe" method="post">
    <input type="email" name="email" class="form-control"
        placeholder="Введите почту"/>
    <button type="submit" class="btn btn-default">Подписаться</button>
  </form>

</div>
