<div class="index">
  <div class="dynamic">
    <div class="news">
      <div class="header">
        <div class="title"> Новости </div>
        <a href="/news?top=true">ВСЕ НОВОСТИ&nbsp;&rarr;</a>
      </div>
    </div>
    <div class="right">
      <div class="timetable">
        <div class="header">
          <div class="title"> Сегодня в центре </div>
          <a href="/timetable?show=week">ВСЕ РАСПИСАНИЕ&nbsp;&rarr;</a>
        </div>
      </div>
      <div class="records">
        <div class="header">
          <div class="title"> Новые записи </div>
          <a href="/archive/">ВСЕ ЗАПИСИ&nbsp;&rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
