<div class="site-header">
  <div class="title"> Библиотека </div>
</div>
<div class="page-library">
  <div class="recent widescreen">
    <div class="title"> Последние добавленные </div>
    <% @books.each do |book| %>
      <%= book_thumb(book) %>
    <% end %>
  </div>

  <% @sections.each do |section| %>
    <div class="section">
      <div class="title"> <%= section.name %> </div>
      <% section.categories.each do |category| %>
      <%= book_category(category, false) %>
      <% end %>
    </div>
  <% end %>

  <div class="recent tabletscreen">
    <div class="title"> Последние добавленные </div>
    <% @books.each do |book| %>
      <%= book_thumb(book) %>
    <% end %>
  </div>
</div>
