<div class="library">
  <div class="title">
    <h1> Библиотека </h1>
  </div>
  <% @library.section.each do |section| %>
    <div class="section">
      <h2> <%= section.name %> </h2>
        <% section.category.each do |category| %>
          <div>
            <a href="<%= "/book-category/#{category}" %>">
              <h3> <%= @categories[category].name %> </h3>
            </a>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
