<div class="library">
  <div class="page-header-buddha">
    <div class="title"> Библиотека </div>
  </div>

  <div class="recent">
    <div class="header">
      <div class="title"> Последние добавленные </div>
    </div>
    <% @books.each do |id, book| %>
      <%= book_thumb(id, book) %>
    <% end %>
  </div>

  <% @library.section.each do |section| %>
    <div class="section">
      <div class="title"> <%= section.name %> </div>
        <% section.category.each do |category| %>
          <div class="item">
            <%= category_link(@categories, category) %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
