<div class="site-header">
  <div class="title"> Библиотека </div>
</div>
<div class="site-tab">
  <a href="/texts/">ОНЛАЙН</a>
  <a class="active" href="/library/">ОФФЛАЙН</a>
</div>

<div class="site-centered">
<p>В этом разделе представлены книги библиотеки Дхарма-центра.
Библиотека открыта для всех желающих и работает в
<a href="/contacts/">приемные часы</a> центра. В онлайн каталоге
пока представлена только часть из всех имеющихся книг и журналов.
Tакже в нашем центре можно прибрести книги магазина буддийской
литературы <a href="http://www.himalai.ru" target="_blank"><b>HIMALAI</b></a>.</p>
</div>

<div class="page-library">
  <div class="recent widescreen">
    <%= erb :'partials/library_recent', locals: { books: @books } %>
  </div>

  <% @sections.each do |section| %>
    <div class="section">
      <div class="title"> <%= section.name %> </div>
      <% section.categories.each do |category| %>
      <%= book_category(category, false) %>
      <% end %>
    </div>
  <% end %>

  <div class="recent tabletscreen">
    <%= erb :'partials/library_recent', locals: { books: @books } %>
  </div>
</div>
