<div class="news-index">
  <div class="page-header-buddha">
    <div class="title"> Новости </div>
  </div>
  <% first = @news.shift %>
  <div class="top">
    <div class="menu">
      <div class="item">
            <span>
               <%= link_if(@params['top'].nil?, "/news?top=true", 'Последние') %>
            </span>
      </div>

      <% @years.each do |year| %>
        <div class="item">
          <span>
              <%= link_if(@params['year'] != year.to_s, "/news?year=#{year}", year) %>
          </span>
        </div>
      <% end %>
    </div>
    <%= erb :'partials/news', locals: { slug: first[:slug],
                                        news: first[:news],
                                        index: true } %>
    <hr/>
  </div>
  <div class="feed">
    <% @news.each do |row| %>
      <%= erb :'partials/news', locals: { slug: row[:slug],
                                          news: row[:news],
                                          index: true } %>
      <hr/>
    <% end %>
  </div>
</div>
