<div class="news-index">
  <div class="page-header-buddha">
    <div class="title"> Новости </div>
  </div>
  <div class="menu">
    <% title = capture do %>
      <div class="item"> Последние </div>
    <% end %>
    <%= link_if(@params['top'].nil?, "/news?top=true", title) %>
    <% news_years(@news).each do |year| %>
      <% title = capture do %>
        <div class="item"> <%= year %> </div>
      <% end %>
      <%= link_if(@params['year'] != year.to_s, "/news?year=#{year}", title) %>
    <% end %>
  </div>
  <div class="feed">
    <% news_query_each(@news, @params) do |slug, news| %>
      <hr/>
      <%= erb :'partials/news', locals: { slug: slug,
                                          news: news,
                                          index: true } %>
    <% end %>
  </div>
</div>
