<div class="news-index">
  <div class="row">
    <div class="col-lg-10">
      <% news_query_each(@news, @params) do |slug, news| %>
        <hr/>
        <%= erb :'partials/news', locals: { slug: slug,
                                            news: news,
                                            index: true } %>
      <% end %>
    </div>
    <div class="col-lg-1">
      <% title = capture do %>
        <h1> Последние </h1>
      <% end %>
      <%= link_if(@params['top'].nil?, "/news?top=true", title) %>
      <% news_years(@news).each do |year| %>
        <% title = capture do %>
          <h1> <%= year %> </h1>
        <% end %>
        <%= link_if(@params['year'] != year.to_s, "/news?year=#{year}", title) %>
      <% end %>
    </div>
  </div>
</div>
