<div class='news-feed'>
  <table align="center" width="800px">
    <tbody>
      <% news_all.each do |slug, news| %>
        <tr>
          <td>
          <div class='news clearfix'>
            <a href="<%= "/news/#{slug}" %>">
              <h1><%= news.title %></h1>
            </a>
            <div class='creation_time'>
              <strong>
                <%= format_date(news.date) %>
              </strong>
            </div>
            <%= render_news(news.body, slug) %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
