<div class="news-index">
  <div class="page-header-buddha">
    <div class="title"> Новости </div>
  </div>
  <div class="menu">
    <div class="item">
      <%= link_if(@params['top'].nil?, "/news?top=true", 'Последние') %>
    </div>

    <% news_years(@news).each do |year| %>
      <div class="item">
        <%= link_if(@params['year'] != year.to_s, "/news?year=#{year}", year) %>
      </div>
    <% end %>
  </div>
  <div class="feed">
    <% news_query(@news, @params).each do |row| %>
      <%= erb :'partials/news', locals: { slug: row[:slug],
                                          news: row[:news],
                                          index: true } %>
      <hr/>
    <% end %>
  </div>
</div>
