<div class="news-single">
  <div class="site-header">
    <div class="title"> Новости </div>
    <div class="backlink">
      <a href="/news?year=<%= @news.date.year %>">
        &larr; ДРУГИЕ НОВОСТИ <%= @news.date.year %> ГОДА
      </a>
    </div>
  </div>
  <%= erb :'partials/news', locals: { slug: @slug,
                                      news: @news,
                                      index: false } %>
</div>
