<div class="news-index">
  <div class="site-header">
    <div class="title"> Новости </div>
  </div>
  <% first = @news.shift %>
  <div class="top">
    <div class="menu">
      <div class="item">
        <%= link_if(@params['top'].nil?, "/news?top=true", 'Последние') %>
      </div>

      <% @years.each do |year| %>
        <div class="item">
          <%= link_if(@params['year'] != year.to_s, "/news?year=#{year}", year) %>
        </div>
      <% end %>
    </div>
    <%= erb :'partials/news', locals: { news: first,
                                        index: true } %>
    <hr/>
  </div>
  <div class="feed">
    <% @news.each do |row| %>
      <%= erb :'partials/news', locals: { news: row,
                                          index: true } %>
      <hr/>
    <% end %>
  </div>
</div>
