<div class="news-single">
  <div class="header">
    <a href="/news?year=<%= news_year(@news) %>">
      <h1> &larr; Другие новости <%= news_year(@news) %> года </h1>
    </a>
  </div>
  <%= erb :'partials/news', locals: { slug: @slug,
                                      news: @news,
                                      index: false } %>
</div>
