<div class="page-error">
  <div class="title">Ошибка 404</div>
  <div class="message">
    Запрашиваемой вами страницы <b><%= @uri %></b> нет на&nbsp;старой версии сайта.
  </div>
  <a href="/">Перейти на главную&nbsp;&rarr;</a>
</div>
