<div class="error">
  <div class="title">Ошибка 404</div>
  <div class="message">
      Запрашиваемой вами страницы <b><%= @uri %></b> нет ни&nbsp;на&nbsp;сайте,
      ни&nbsp;на&nbsp;старой версии сайта.
  </div>
  <div class="url">
    <a href="/">Перейти на главную&nbsp;&rarr;</a>
  </div>
</div>
