<h1 class="teaching-header"> Учения переданные в центре </h1>
<% @archive.year.each do |year| %>
  <h1> <%= year.year %> </h1>
  <% year.teachings.each do |teachings| %>
    <h2 class="teaching-title"> <%= teachings.title %> </h2>
    <% teachings.theme.each do |id| %>
      <p class="teaching-link">
        <a href="<%= "theme/#{id}" %>">
          <%= "#{@themes[id].title}" %>
        </a>
      </p>
    <% end %>
  <% end %>
  <hr/>
<% end %>
