<div class="teachers">
    <div class="page-header-buddha">
        <div class="title">
            Учителя
        </div>
        <div class="backlink">
            <a href="/about/"> &larr; О ЦЕНТРЕ</a>
        </div>
    </div>
  </hr>
  <div class="line">
    <div class="line-row">
      <% @teachers.teacher.each do |teacher|%>
        <div class="cell">
          <a href="<%= teacher.page %>">
            <img src="/teachers/<%= teacher.image %>"/>
            <div> <h3><%= teacher.name %></h3> </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
