<div class="teachers">
  <div class="page-header-buddha">
    <div class="title"> Учителя </div>
    <div class="backlink">
        <a href="/about/"> &larr; О ЦЕНТРЕ</a>
    </div>
  <hr/>
  <div class="board">
    <% @teachers.teacher.each do |teacher|%>
      <div class="card">
        <a href="<%= teacher.page %>">
           <img src="/teachers/<%= teacher.image %>" class="photo"/>
           <div class="name"><%= teacher.name %></div>
        </a>
        <p class="about"><%= teacher.presentation %></p>
      </div>
    <% end %>
  </div>
</div>
