<div class="teacher">

<div class="site-header">
  <div class="title"> <%= @teacher_title %> </div>
  <a class="backlink" href="/teachers/"> &larr; УЧИТЕЛЯ </a>
</div>

<%= load_page("teachers/#{@teacher}/page.html") %>

</div> <%# teacher %>
