<div class="teachings">
  <div class="site-header">
    <div class="title"> <%= "#{@teachings.title}, #{@teachings.year}" %> </div>
    <a class="backlink" href="/teachings/">&larr; ВСЕ УЧЕНИЯ</a>
  </div>
  <% @teachings.theme.each do |theme| %>
  <div class="theme">
    <div class="title"> <%= theme.title %> </div>
    <%= erb :'partials/records_list', locals: { records: theme.record } %>
  </div> <%# theme %>
  <% end %>
</div>
