<div class="teachers">
  <div class="title">
    <h1> Учителя </h1>
  </div>
  </hr>
  <div class="line">
    <div class="line-row">
      <% @teachers.teacher.each do |teacher|%>
        <div class="cell">
          <a href="<%= teacher.page %>">
            <img src="/teachers/<%= teacher.image %>"/>
          </a>
        </div>
      <% end %>
    </div>
    <div class="line-row">
      <% @teachers.teacher.each do |teacher|%>
        <div class="cell">
          <a href="<%= teacher.page %>">
            <h3><%= teacher.name %></h3>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
