<div class="site-header">
  <div class="title"> <%= "#{@teachings.title}, #{@teachings.year}" %> </div>
  <a class="backlink" href="/teachings/">&larr; ВСЕ УЧЕНИЯ</a>
</div>
<div class="page-teachings">
  <% @teachings.theme.each do |theme| %>
  <span class="title"> <%= theme.title %> </span>
  <div class="records">
    <% theme.record.each_with_index do |record, idx| %>
    <%= teachings_record(record, idx + 1) %>
    <% end %>
  </div>
  <% end %>
</div>
<script>
$(document).ready(function() {
  $('.record .description a').magnificPopup({type:'iframe'});
});
</script>
