<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1 class="teaching-header"> Учения переданные в центре </h1>
    <% @doc.xpath('/teachings/teaching').each do |teaching| %>
      <% next if not teaching_check(teaching) %>
      <h1> <%= teaching.at_xpath('year').content %> </h1>
      <h2 class="teaching-title"> <%= teaching.at_xpath('title').content %> </h2>
      <% teaching.xpath('themes/theme').each do |theme| %>
        <% next if theme.at_xpath('title').nil? %>
        <p class="teaching-link"> <%= theme_link(theme) %> </p>
      <% end %>
      <hr/>
    <% end %>
  </body>
</html>
