<div class="teacher">

<div class="site-header">
  <div class="title"> <%= @teacher_title %> </div>
  <div class="backlink">
    <a href="/teachers/"> &larr; УЧИТЕЛЯ </a>
  </div>
</div>

<%= load_page("teachers/#{@teacher}/page.erb", "/teachers/#{@teacher}/") %>

</div> <%# teacher %>
