<div class="teacher">
  <div class="header">
    <h1> <%= @metadata['name'] %> </h1>
    <h3> <a href="/teachers"> &larr; Назад</a> </h3>
  </div>
  <%= render_adoc(@doc, "/teacher/#{@id}") %>
</div>
