<div class="timetable">
  <div class="header"> <h1> Расписание на неделю </h1> </div>
  <%= erb :'partials/week', locals: { offset: 0 } %>
  <%= erb :'partials/week', locals: { offset: 1 } %>
  <div class="header"> <h1> Текущие занятия </h1> </div>
  <%= erb :'partials/classes', locals:
    { classes: @classes.select { |c| actual_classes(c) }  }
  %>
  <div class="header"> <h1> Будущие занятия </h1> </div>
  <%= erb :'partials/classes', locals:
    { classes: @classes.select { |c| future_classes(c) }  }
  %>
</div>
