<div class="error">
  <div class="title">Ошибка 404</div>
  <div class="message">
    Запрашиваемой вами страницы нет на сайте. Возможно она есть
    в старой версии сайта. Перейдите по ccылке,
    чтобы попробовать отыскать страницу там.
  </div>
  <div class="url">
    <a href="<%= @redirection %>">Поискать&nbsp;&rarr;</a>
  </div>
</div>
