<div class="page-error">
  <div class="title">Ошибка 404</div>
  <div class="message">
    Запрашиваемой вами страницы нет на&nbsp;сайте. Возможно она есть
    в&nbsp;старой версии сайта. Перейдите по&nbsp;ccылке,
    чтобы попробовать отыскать страницу там.
  </div>
  <a href="<%= @redirection %>">Поискать&nbsp;&rarr;</a>
</div>
