div.category hr {
  border-top: 1px solid #dedede; }

div.category hr:last-child {
  display: none; }

div.category .books {
  margin-bottom: 50px; }
  div.category .books .name {
    font-size: 18px; }

div.category div.book {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px; }
  div.category div.book div.title {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold; }
  div.category div.book a {
    color: black; }
  div.category div.book a:hover {
    color: #5185ea; }
    div.category div.book a:hover img.cover {
      opacity: 1;
      -webkit-filter: saturate(150%);
      filter: saturate(150%);
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2); }
  div.category div.book div.author {
    margin-top: 7px;
    font-size: 11px;
    font-weight: bold;
    color: #717783; }
  div.category div.book img.cover {
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    height: 210px;
    -webkit-filter: saturate(100%);
    filter: saturate(100%); }

div.category div.menu {
  display: inline-block;
  float: right;
  width: 350px;
  vertical-align: top;
  border-left: 1px solid #dedede;
  margin-left: 20px;
  padding-left: 20px; }
  div.category div.menu div.section .title {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px; }
  div.category div.menu div.section .item {
    margin: 8px 0px;
    color: #717783;
    font-size: 13px;
    font-weight: bold; }
    div.category div.menu div.section .item a {
      color: #4789d9; }
    div.category div.menu div.section .item a:hover {
      color: #5185ea; }
    div.category div.menu div.section .item .size {
      color: #a0a0a0;
      font-size: 10px;
      font-weight: bold; }

div.category div.menu::after {
  content: " ";
  clear: both;
  display: block; }

div.category div.header {
  text-align: left;
  padding-bottom: 20px; }
  div.category div.header h1 {
    margin-bottom: 0px; }
  div.category div.header h3 {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 700; }
  div.category div.header a {
    color: #4789d9; }
  div.category div.header a:hover {
    color: #6d9fff; }

@media (max-width: 768px) {
  div.category div.book div.title {
    font-size: 15px; }
  div.category div.menu {
    border-left: 0px;
    padding-left: 0px;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dedede; }
    div.category div.menu div.section .item {
      margin: 10px 0px;
      font-size: 15px; } }
