.book.prop-name {
  font-weight: bold;
}

div.book.heading {
  padding-left: 1em;
  text-indent: -2em;
}

div.book div.cover {
  display: inline-block;
  vertical-align: top;
  margin: 0px 30px;
}

div.book div.info {
  display: inline-block;
  vertical-align: top;
}
