.book-thumb {
  display: inline-block;
  width: 160px;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px; }
  .book-thumb .title {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3; }
  .book-thumb a {
    color: black; }
  .book-thumb a:hover {
    color: #6d9fff; }
  .book-thumb a:hover img {
    opacity: 1;
    -webkit-filter: saturate(110%);
    filter: saturate(110%);
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1); }
  .book-thumb .author {
    margin-top: 7px;
    font-size: 11px;
    font-weight: bold;
    color: #717783; }
  .book-thumb img.cover {
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    height: 210px; }

@media (max-width: 767px) {
  .book-thumb .title {
    font-size: 15px; } }

@media (max-width: 480px) {
  .book-thumb {
    width: 98%;
    text-align: center; }
    .book-thumb .title {
      width: 80%;
      margin: auto;
      margin-top: 10px; }
    .book-thumb img.cover {
      margin: 0 auto; } }

.category hr:last-child {
  display: none; }

.category .books {
  margin: -6px 0px 50px 0px; }
  .category .books .name {
    font-size: 18px;
    margin-bottom: 20px; }

.category .menu {
  display: inline-block;
  float: right;
  width: 350px;
  vertical-align: top;
  border-left: 1px solid #dedede;
  margin-left: 20px;
  padding-left: 20px; }
  .category .menu .section .title {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
    margin-top: -6px; }
  .category .menu .section .item {
    margin: 8px 0px;
    color: #717783;
    font-size: 13px;
    font-weight: bold; }
    .category .menu .section .item .size {
      color: #a0a0a0;
      font-size: 10px;
      font-weight: bold; }

.category .menu::after {
  content: " ";
  clear: both;
  display: block; }

@media (max-width: 767px) {
  .category .books {
    margin: 0px 0px; }
  .category .menu {
    border-left: 0px;
    padding-left: 0px;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dedede; }
    .category .menu .section .item {
      margin: 10px 0px;
      font-size: 15px; } }
