.book hr {
  margin-top: 20px;
  margin-bottom: 22px; }

.book .annotation {
  margin-top: 15px; }
  .book .annotation .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px; }

.book .headings {
  margin-bottom: 40px; }
  .book .headings .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px; }
  .book .headings .items {
    padding-left: 1em; }
    .book .headings .items .heading {
      padding-left: 1em;
      text-indent: -2em; }

.book .cover {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 5px; }

.book .info-column {
  display: inline-block;
  vertical-align: top; }
  .book .info-column .info .info-table {
    display: table; }
    .book .info-column .info .info-table .row {
      display: table-row; }
    .book .info-column .info .info-table .cell {
      display: table-cell;
      font-size: 13px;
      padding-bottom: 8px; }
    .book .info-column .info .info-table .name {
      font-weight: 600;
      padding-right: 20px;
      width: 100px; }
    .book .info-column .info .info-table .value {
      font-weight: 400;
      color: #585c62; }
  .book .info-column hr {
    margin-top: 10px;
    margin-bottom: 25px; }
  .book .info-column .categories .title {
    font-size: 18px;
    font-weight: 400; }
  .book .info-column .categories .item {
    color: #717783;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0px; }
    .book .info-column .categories .item a {
      color: #4789d9; }
    .book .info-column .categories .item a:hover {
      color: #5185ea; }
    .book .info-column .categories .item .size {
      color: #a0a0a0;
      font-size: 10px;
      font-weight: bold; }

@media (max-width: 991px) {
  .book .info-column {
    padding-top: 20px; } }

@media (max-width: 480px) {
  .book .cover {
    margin-top: 5px; } }
