div.book-feed table td {
  vertical-align: top; }

div.book-feed table td.text {
  padding-left: 10px; }
  div.book-feed table td.text .title {
    font-weight: bold;
    font-size: 20px; }
  div.book-feed table td.text .author {
    font-weight: bold;
    font-size: 18px; }
