div.classes div.title {
  text-align: center;
  margin-bottom: 50px; }

div.classes .line {
  display: table; }
  div.classes .line .line-row {
    display: table-row; }
    div.classes .line .line-row .cell {
      display: table-cell;
      padding-left: 15px;
      padding-right: 15px; }
  div.classes .line .timetable .cell {
    padding-top: 15px; }
