.classes .annual {
  margin-top: 20px; }

.classes .section > .title {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0px 10px; }

.classes .section .class {
  margin-bottom: 20px; }
  .classes .section .class img {
    display: inline;
    float: left;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin-right: 20px; }
  .classes .section .class .description .title {
    font-size: 18px;
    font-weight: 400; }
  .classes .section .class .description .dates {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400; }
  .classes .section .class .description .days {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400; }
  .classes .section .class .description .info {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #585c62; }

.classes .section .class::after {
  content: " ";
  clear: both;
  display: block; }
