body {
  font-family: OpenSans; }

.imageblock .content {
  margin-bottom: 16px; }

.imageblock.left .content {
  float: left;
  margin-right: 16px; }

.imageblock.right .content {
  float: right;
  margin-left: 16px; }

.objectblock.stretched .content, .videoblock.stretched .content {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .objectblock.stretched .content iframe, .objectblock.stretched .content object, .objectblock.stretched .content embed, .videoblock.stretched .content iframe, .videoblock.stretched .content object, .videoblock.stretched .content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
