div.donations div.header {
  text-align: center;
  padding-bottom: 50px; }
  div.donations div.header h1 {
    margin-bottom: 0px; }
  div.donations div.header h3 {
    margin-top: 5px; }

div.donations div.content div.properties {
  margin-top: 30px; }
  div.donations div.content div.properties div.table {
    display: table; }
    div.donations div.content div.properties div.table .row {
      display: table-row; }
      div.donations div.content div.properties div.table .row .column {
        display: table-cell;
        padding-left: 15px;
        padding-right: 15px; }
