.page-header-buddha .title {
  font-weight: 300;
  font-size: 36px;
  padding-top: 18px;
  line-height: 1.3; }

.page-header-buddha .backlink {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 700; }

.page-header-buddha a {
  color: #4789d9; }

.page-header-buddha a:hover {
  color: #6d9fff; }

body {
  background-color: #a35555;
  margin-bottom: 50px;
  background-image: url(/background_red.png);
  font-family: 'Open Sans', sans-serif; }
  body .container.body {
    padding-top: 44px;
    background-color: #ffffff;
    border-radius: 0 0 6px 6px; }

hr {
  border-top: 1px solid #dedede; }

.title {
  font-weight: 500; }

.navbar {
  background: rgba(235, 238, 242, 0.9); }
  .navbar .navbar-brand {
    padding: 6px 5px 6px 20px; }
  .navbar .navbar-nav > li > a {
    color: #5f646e;
    font-size: 12px;
    font-weight: 600; }
  .navbar .menu-link {
    display: none; }

.footer {
  background: #34465a;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px; }
  .footer .links {
    margin-right: 300px; }
  .footer .links .column {
    display: inline-block;
    vertical-align: top;
    margin: 0px 30px; }
    .footer .links .column .menu {
      line-height: 25px; }
      .footer .links .column .menu a {
        color: #d8e0e8;
        font-size: 13px;
        font-weight: 400;
        display: block; }
      .footer .links .column .menu a:hover {
        color: #5185ea; }
    .footer .links .column .submenu {
      line-height: 20px; }
      .footer .links .column .submenu a {
        color: #99a5b2;
        font-size: 11px;
        font-weight: 400;
        display: block; }
  .footer .contacts {
    float: right;
    width: 300px;
    padding-right: 30px;
    color: #cbd6e2;
    font-size: 11px;
    font-weight: 400; }
    .footer .contacts .copyright {
      float: left;
      width: 90px; }
      .footer .contacts .copyright img {
        padding: 0 3px 3px 0; }
    .footer .contacts .name {
      margin-left: 90px; }
      .footer .contacts .name img {
        padding: 0 4px 3px 0; }
    .footer .contacts .address {
      margin: 5px 0px 14px; }
      .footer .contacts .address img {
        padding: 0 6px 3px 0; }
    .footer .contacts .phone a {
      color: #cbd6e2; }
    .footer .contacts .phone a:hover {
      color: #5185ea; }
    .footer .contacts .phone img {
      padding: 0 4px 3px 0; }

@media (max-width: 768px) {
  body .container.body {
    position: absolute;
    width: 100%;
    border-radius: 0px; }
  .navbar .navbar-brand {
    padding: 6px 5px 6px 10px; }
  .navbar .nav.navbar-nav {
    display: none; }
  .navbar .menu-link {
    position: absolute;
    vertical-align: middle;
    right: 14px;
    top: 5px;
    display: table-cell;
    font-size: 25px; }
  .footer {
    display: none; }
  #scrollUp {
    background-image: url(/to_top.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 44px;
    width: 44px;
    bottom: 20px;
    right: 20px; }
  .panel {
    position: fixed;
    right: -15.625em;
    /*left or right and the width of your navigation panel*/
    width: 15.625em;
    /*should match the above value*/
    background: #2C3E50;
    z-index: 9999;
    border-radius: 0px; }
    .panel .links a {
      display: block;
      border-bottom: 1px solid #34495D;
      padding: 13px;
      font-size: 12px;
      letter-spacing: 1px;
      color: #fff; }
    .panel .contacts {
      padding-left: 15px;
      color: #cbd6e2;
      font-size: 11px;
      position: absolute;
      font-weight: 400;
      bottom: 15px; }
      .panel .contacts .copyright img {
        padding: 0 3px 3px 0; }
      .panel .contacts .name {
        margin: 4px 0px 14px;
        padding: 0 21px 0 21px; }
        .panel .contacts .name img {
          padding: 0 4px 3px 0; }
      .panel .contacts .address {
        margin: 5px 0px 14px; }
        .panel .contacts .address img {
          padding: 0 6px 3px 0; }
      .panel .contacts .phone a {
        color: #cbd6e2; }
      .panel .contacts .phone a:hover {
        color: #5185ea; }
      .panel .contacts .phone img {
        padding: 0 4px 3px 0; } }

@media (min-width: 769px) {
  #scrollUp {
    display: none !important; } }
