div.library div.title {
  text-align: center;
  margin-bottom: 50px;
}

div.library div.section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0px 50px;
}

div.library {
  text-align: center;
}
