div.main {
  text-align: center; }
  div.main div.menu {
    padding-top: 100px;
    text-align: left;
    display: inline-block; }
  div.main form.subscription {
    padding-top: 50px;
    display: inline-block; }
    div.main form.subscription input {
      width: 300px;
      display: inline; }
