.news-index .menu {
  float: right;
  width: 150px;
  margin-left: 50px;
  font-size: 24px; }

.news-index .feed {
  text-color: black; }
  .news-index .feed .news {
    border-bottom: 1px solid #dedede; }
    .news-index .feed .news:last-child {
      border-bottom: none; }
