.news-index .top .menu {
  float: right;
  width: 200px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  border-left: 1px solid #dedede; }
  .news-index .top .menu span {
    padding: 4px 7px;
    border-radius: 2px;
    background-color: #ff6333;
    color: #ffffff; }
  .news-index .top .menu a {
    padding-left: 7px; }

.news-index .top hr {
  clear: both; }

.news-index .top .news {
  width: 70%; }

.news-index .news {
  font-size: 14px;
  display: inline-block;
  width: 50%;
  vertical-align: top; }
  .news-index .news .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px; }
  .news-index .news .date {
    color: #94a1a8; }
  .news-index .news .body {
    overflow: auto; }
    .news-index .news .body .objectblock {
      margin: 0px 8px; }
      .news-index .news .body .objectblock.left {
        float: left; }
      .news-index .news .body .objectblock.right {
        float: right; }
    .news-index .news .body .admonitionblock td.icon img {
      width: 60px; }
    .news-index .news .body .admonitionblock.warning {
      background-color: #ffd0d0; }
    .news-index .news .body .good-news {
      background-color: #d0d0ff;
      padding: 8px 24px; }
      .news-index .news .body .good-news p {
        text-align: center; }
    .news-index .news .body table.tableblock {
      border-collapse: collapse; }
      .news-index .news .body table.tableblock th {
        border-bottom: 1px solid #000000; }
      .news-index .news .body table.tableblock td.halign-right, .news-index .news .body table.tableblock th.halign-right {
        text-align: right; }
      .news-index .news .body table.tableblock td.halign-left, .news-index .news .body table.tableblock th.halign-left {
        text-align: left; }
      .news-index .news .body table.tableblock td.halign-center, .news-index .news .body table.tableblock th.halign-center {
        text-align: center; }
      .news-index .news .body table.tableblock td.valign-top, .news-index .news .body table.tableblock th.valign-top {
        vertical-align: top; }
      .news-index .news .body table.tableblock td p {
        margin: 2px 5px; }
    .news-index .news .body #content {
      padding: 0px 8px; }
    .news-index .news .body h2 {
      text-align: center;
      font-size: 22px; }
    .news-index .news .body h3 {
      text-align: center;
      font-size: 18px; }
  .news-index .news .more a {
    padding: 5px 15px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
    background-color: #4789d9;
    border-color: #2e6da4;
    color: #fff; }
    .news-index .news .more a:hover {
      color: #fff;
      background-color: #349ee0; }

.news-index .feed {
  margin-bottom: 30px;
  font-size: 0px; }
  .news-index .feed .news:nth-of-type(odd) {
    padding-right: 15px; }
  .news-index .feed .news:nth-of-type(even) {
    padding-left: 15px; }
  .news-index .feed hr:nth-of-type(odd) {
    display: none; }
  .news-index .feed hr:last-child {
    display: none; }

.news-single .news .title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px; }

.news-single .news .date {
  color: #94a1a8; }

.news-single .news .body {
  overflow: auto; }
  .news-single .news .body .objectblock {
    margin: 0px 8px; }
    .news-single .news .body .objectblock.left {
      float: left; }
    .news-single .news .body .objectblock.right {
      float: right; }
  .news-single .news .body .admonitionblock td.icon img {
    width: 60px; }
  .news-single .news .body .admonitionblock.warning {
    background-color: #ffd0d0; }
  .news-single .news .body .good-news {
    background-color: #d0d0ff;
    padding: 8px 24px; }
    .news-single .news .body .good-news p {
      text-align: center; }
  .news-single .news .body table.tableblock {
    border-collapse: collapse; }
    .news-single .news .body table.tableblock th {
      border-bottom: 1px solid #000000; }
    .news-single .news .body table.tableblock td.halign-right, .news-single .news .body table.tableblock th.halign-right {
      text-align: right; }
    .news-single .news .body table.tableblock td.halign-left, .news-single .news .body table.tableblock th.halign-left {
      text-align: left; }
    .news-single .news .body table.tableblock td.halign-center, .news-single .news .body table.tableblock th.halign-center {
      text-align: center; }
    .news-single .news .body table.tableblock td.valign-top, .news-single .news .body table.tableblock th.valign-top {
      vertical-align: top; }
    .news-single .news .body table.tableblock td p {
      margin: 2px 5px; }
  .news-single .news .body #content {
    padding: 0px 8px; }
  .news-single .news .body h2 {
    text-align: center;
    font-size: 22px; }
  .news-single .news .body h3 {
    text-align: center;
    font-size: 18px; }

.news-single .news .more a {
  padding: 5px 15px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 3px;
  background-color: #4789d9;
  border-color: #2e6da4;
  color: #fff; }
  .news-single .news .more a:hover {
    color: #fff;
    background-color: #349ee0; }
