div.subscription {
  text-align: center; }
  div.subscription div.header {
    padding-top: 100px;
    text-align: center; }
  div.subscription form {
    padding-top: 20px; }
    div.subscription form div.elements {
      display: inline-block;
      text-align: left; }
      div.subscription form div.elements label {
        display: block; }
  div.subscription div.unsubscribe {
    padding-top: 20px; }
