div.text div.header {
  text-align: center;
  padding-bottom: 50px; }
  div.text div.header h1 {
    margin-bottom: 0px; }
  div.text div.header h3 {
    margin-top: 5px; }

div.text td {
  padding: 0px 10px; }

div.text .tableblock.halign-right {
  text-align: right; }

div.text .tableblock.halign-left {
  text-align: left; }

div.text .tableblock.halign-center {
  text-align: center; }

div.text .tableblock.valign-top {
  vertical-align: top; }
