.timetable .months {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0px 10px; }

.timetable .table {
  display: table;
  margin-bottom: 50px; }
  .timetable .table .day-line {
    display: table-row; }
    .timetable .table .day-line .spacing {
      display: table-cell;
      width: 50px; }
    .timetable .table .day-line .day {
      display: table-cell;
      padding: 12px 10px 12px;
      border-left: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc; }
      .timetable .table .day-line .day .date {
        display: inline-block;
        vertical-align: top;
        width: 60px; }
        .timetable .table .day-line .day .date .month-day {
          display: inline-block;
          width: 20px;
          text-align: right;
          font-size: 15px;
          font-weight: 400;
          color: #5d646f; }
        .timetable .table .day-line .day .date .week-day {
          display: inline-block;
          font-size: 12px;
          font-weight: 400;
          color: #a0aab8; }
      .timetable .table .day-line .day .events {
        display: inline-block;
        vertical-align: top; }
        .timetable .table .day-line .day .events .event {
          font-size: 15px;
          font-weight: 400; }
          .timetable .table .day-line .day .events .event .time {
            display: inline-block;
            width: 120px;
            color: #5d646f; }
          .timetable .table .day-line .day .events .event a {
            display: inline-block; }
            .timetable .table .day-line .day .events .event a.empty {
              color: #a0a9b8; }
        .timetable .table .day-line .day .events .event.conflict .time, .timetable .table .day-line .day .events .event.conflict a {
          color: red; }
        .timetable .table .day-line .day .events .event.cancel .time, .timetable .table .day-line .day .events .event.cancel a {
          color: red;
          text-decoration: line-through; }
    .timetable .table .day-line .day.current {
      background: #f9f4ed; }
