div.timetable .calendar-line, div.timetable div.day .event-name, div.timetable div.day div.event-time .time, div.timetable div.day div.event-time .cancel {
  display: inline-block;
  margin: 2px;
  padding: 3px; }

div.timetable div.day {
  margin-top: 10px; }
  div.timetable div.day .name {
    margin-top: 0px;
    margin-bottom: 10px; }
  div.timetable div.day .event-name {
    width: 300px; }
  div.timetable div.day div.event-time {
    width: 300px;
    display: inline-block; }
    div.timetable div.day div.event-time .time, div.timetable div.day div.event-time .cancel {
      border-radius: 0.25em; }
    div.timetable div.day div.event-time .time.conflict {
      background-color: #66ff66; }
    div.timetable div.day div.event-time .cancel {
      background-color: #ffff80; }
