div.time-changes div.creation_time p {
  color: #999999; }

div.time-changes .imageblock.left .content {
  float: left;
  margin-right: 8px; }

div.time-changes .imageblock.right .content {
  float: right;
  margin-left: 8px; }

div.time-changes .clearfix::before {
  content: " ";
  /* Older browser do not support empty content */
  clear: both;
  display: block; }

div.time-changes .objectblock {
  margin: 0px 8px; }

div.time-changes .objectblock.left {
  float: left; }

div.time-changes .objectblock.right {
  float: right; }

div.time-changes .admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900; }

div.time-changes .admonitionblock td.icon img {
  width: 60px; }

div.time-changes .admonitionblock.warning {
  background-color: #FFD0D0; }

div.time-changes .good-news {
  background-color: #D0D0FF;
  padding: 8px 24px; }

div.time-changes .good-news p {
  text-align: center; }

div.time-changes td.tableblock p {
  margin: 4px 10px; }

div.time-changes .tableblock.halign-right {
  text-align: right; }

div.time-changes .tableblock.halign-left {
  text-align: left; }

div.time-changes .tableblock.halign-center {
  text-align: center; }

div.time-changes table.tableblock {
  border-collapse: collapse; }

div.time-changes table.tableblock th {
  border-bottom: 1px solid #000000;
  padding: 0px 8px; }

div.time-changes table.tableblock th {
  border-bottom: 1px solid #000000; }

div.time-changes #content {
  padding: 0px 8px; }

div.time-changes h2 {
  text-align: center; }

div.time-changes h3 {
  text-align: center; }

div.news-page div.header {
  text-align: center;
  padding-bottom: 50px; }
