@import '../config';

.news-single .news .body {

table {
  width: 100%;
}

h1 {
  font-size: 20px;
}

> .index {
  display: none;
}

img {
  width: 100%;
  margin-bottom: 15px;
}

table.timetable {
  colgroup {
    col { width: 1 / 3 * 100%; }
  }
  tbody tr td:nth-of-type(3) {
    vertical-align: middle;
  }
}

table.prices {
  colgroup {
    col:nth-child(1) { width: 2 / 6 * 100%; }
    col:nth-child(2) { width: 2 / 6 * 100%; }
    col:nth-child(3) { width: 1 / 6 * 100%; }
    col:nth-child(4) { width: 1 / 6 * 100%; }
  }
}

table.contacts {
  colgroup {
    col:nth-child(1) { width: 40%; }
    col:nth-child(2) { width: 30%; }
    col:nth-child(3) { width: 30%; }
  }
}

table.sber {
  colgroup {
    col:nth-child(1) { width: 30%; }
    col:nth-child(2) { width: 70%; }
  }
}

#ershovo {
  display: block;
  width: 100%;
  height: 400px;
}

}


@media (max-width: 1199px) {

.news-single .news .body {

table.timetable {
  col:nth-child(1) { width: 30%; }
  col:nth-child(2) { width: 30%; }
  col:nth-child(3) { width: 40%; }
}

}

}
