@import 'config';

// .page-header is occupied by bootstrap
.page-header-buddha {
  .title {
    font-weight: 300;
    font-size: 36px;
    padding-top: 20px;
    line-height: 1.3;
  }
  .backlink {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
  }
}

hr {
  border-top: $separator-style;
}

p {
  color: #585c62;
}

a {
  color: #4789d9;
}
a:hover {
  color: $link-color-hover;
}


@media (max-width: 480px) {

.page-header-buddha {
  .title {
    font-size: 24px;
  }
}

}
