@import 'config';
@import 'mixins';

.clearfix::before {
  content: " "; /* Older browser do not support empty content */
  clear: both;
  display: block;
}

// .page-header is occupied by bootstrap
.site-header {
  .title {
    @include site-element-level-1
    padding-top: 20px;
    line-height: 1.3;
  }
  .backlink {
    margin-top: 10px;
    @include site-backlink;
  }
  margin-bottom: 20px;
}

a.site-button {
  padding: 5px 15px;
  margin: 10px 0px;
  display: inline-block;
  border-radius: 3px;

  background-color: #ffffff;
  border: 1px solid #4789d9;
  color: #4789d9;
  &:hover {
    color: #fff;
    background-color: #349ee0;
  }
}

hr {
  border-top: $separator-style;
}

ul, ol {
  padding-left: 17px;
  list-style-position: outside;
  color: #585c62;
  p {
    margin-left: 5px;
  }
}

p {
  color: #585c62;
}

a {
  color: #4789d9;
}
a:hover {
  color: $link-color-hover;
  text-decoration: none;
}

.site-tab {
  border-bottom: $separator-style;
  margin-bottom: 20px;
  @include menu-link;
  a {
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    padding-bottom: 10px;
  }
}

.site-baner {
  width: 100%;
  height: 150px;
  background-color: #ec6e6e;
  border-radius: 5px;
  border: 1px solid #d05e5e;

  img {
    height: 148px;
    width: auto;
    display: block;
    float: right;
    margin-right: 20px;
  }

  .message {
    padding: 18px 20px 20px 30px;
    font-weight: 400;
    color: white;
    display: table-cell;
    height: 148px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 1.3;
  }
}

.site-2-columns {
  font-size: 0px;
  > .side {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 50%;
    &:nth-of-type(odd) {
      padding-right: 15px;
    }
    &:nth-of-type(even) {
      padding-left: 15px;
    }

    > img {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  > .space {
    display: block;
    padding-top: 100px;
  }
}

table.site-data-table {
  border-collapse: collapse;
  tbody.header td {
    font-weight: bold;
  }
  tbody tr td {
    padding-bottom: 2px;
    vertical-align: top;
  }
  tbody.space tr td {
    padding-bottom: 5px;
  }
  // row spaces and border
  tbody {
    tr:first-of-type td { padding-top: 10px; }
    tr:last-of-type td { padding-bottom: 10px; }
    tr:last-of-type { border-bottom: $separator-style; }
    &:last-of-type tr:last-of-type { border-bottom: none; }
    &:first-of-type tr:first-of-type td { padding-top: 0px; }
  }
}


@media (max-width: 1199px) {

.site-baner {
  .message {
    font-size: 20px;
  }
}

}


@media (max-width: 991px) {

.site-baner {
  height: auto;

  img {
    display: none;
  }
}

.site-2-columns {
  > .side {
    display: block;
    width: 100%;
    &:nth-of-type(odd) {
      padding-right: 0px;
    }
    &:nth-of-type(even) {
      padding-left: 0px;
    }
  }
  > .space {
    padding-top: 0px;
  }
}

}


@media (max-width: 480px) {

.site-header {
  .title {
    font-size: 24px;
  }
}

}
