@import 'config';
@import 'mixins';

.clearfix::before {
  content: " "; /* Older browser do not support empty content */
  clear: both;
  display: block;
}

// .page-header is occupied by bootstrap
.page-header-buddha {
  .title {
    font-weight: 300;
    font-size: 36px;
    padding-top: 20px;
    line-height: 1.3;
  }
  .backlink {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
  }
  margin-bottom: 20px;
}

hr {
  border-top: $separator-style;
}

p {
  color: #585c62;
  line-height: 1.6;
}

a {
  color: #4789d9;
}
a:hover {
  color: $link-color-hover;
  text-decoration: none;
}

ul {
  li {
    list-style-position: outside;
    margin-left: 17px;
    p {
      margin-left: -3px;
    }
  }
}

.tab-imitator {
  border-bottom: $separator-style;
  @include menu-link
  a {
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    padding-bottom: 10px;
  }
}

.site-baner {
  width: 100%;
  height: 150px;
  background-color: #ec6e6e;
  border-radius: 5px;
  border: 1px solid #d05e5e;
  margin-top: 20px;

  img {
    height: 148px;
    width: auto;
    display: block;
    float: right;
    margin-right: 20px;
  }

  .message {
    padding: 18px 20px 20px 30px;
    font-weight: 400;
    color: white;
    display: table-cell;
    height: 148px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 1.3;
  }
}


@media (max-width: 1199px) {

.site-baner {
  .message {
    font-size: 20px;
  }
}

}


@media (max-width: 991px) {

.site-baner {
  height: auto;

  img {
    display: none;
  }
}

}


@media (max-width: 480px) {

.page-header-buddha {
  .title {
    font-size: 24px;
  }
}

}
