@mixin hover-images {
  a:hover {
    img {
      opacity: 1;
      -webkit-filter: saturate(110%);
      filter: saturate(110%);
      -webkit-filter: brightness(1.1);
      filter: brightness(1.1);
    }
  }
}

@mixin menu-link {
  a {
    display: inline-block;
    color: #5f646e;
    &:hover {
      color: #000000;
      @include hover-transition(color);
    }
  }
  .active {
    border-bottom: 2px solid #ff6333;
    color: black;
  }
}

@mixin site-element-level-1 {
  font-size: 36px;
  font-weight: 300;
}

@mixin site-element-level-2 {
  font-size: 26px;
  font-weight: 300;
}

@mixin site-element-level-2-480px {
  font-size: 20px;
  font-weight: 400;
}

@mixin site-backlink {
  font-size: 13px;
  font-weight: 700;
}

@mixin hover-transition($properties) {
  $duration: .25s;
  $function: ease-in-out;
  -webkit-transition-property: $properties;
     -moz-transition-property: $properties;
          transition-property: $properties;
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
          transition-duration: $duration;
  -webkit-transition-timing-function: $function;
     -moz-transition-timing-function: $function;
          transition-timing-function: $function;
}

@mixin site-news {
  .title {
    @include site-element-level-2;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .date {
    color: #94a1a8;
  }
}

@mixin site-events {
  .events {
    vertical-align: top;
    .event {
      font-size: 15px;
      font-weight: 400;

      .time {
        display: inline-block;
        color: #5d646f;
      }
      a {
        display: inline-block;
        &.empty {
          color: #a0a9b8;
        }
      }
    }
    .event.conflict {
      .time, a {
        color: red;
      }
    }
    .event.cancel {
      .time, a {
        color: red;
        text-decoration: line-through;
      }
    }
  }
}

@mixin site-records-layout($first-width) {
  .records {
    display: block;
    .record {
      display: block;
      padding: 15px 0px;
      position: relative;

      .index, .description, .date, .download {
        display: block;
        border-bottom: none;
      }
      border-bottom: $separator-style;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0px;
      }
      &:first-child {
        padding-top: 0px;
      }

      .index {
        position: absolute;
        padding: 0px;
        width: $first-width;
      }

      .description, .date, .download {
        margin-left: $first-width;
      }
      .date {
        margin-top: 5px;
      }
      .download {
        text-align: left;
      }
    }
  }
}

@mixin site-records {
  .records {
    .record {
      font-size: 14px;
      color: #000;
      .description {
        font-weight: 400;

        a {
          display: block;
          padding-left: 21px;

          background-image: url(/play_video.svg?v=1);
          &:hover { background-image: url(/play_video_cyan.svg?v=1); }
          background-repeat: no-repeat;
          background-size: 14px;
          background-position: left 5px;
        }
      }
      .date {
        font-weight: 300;
      }
      .download {
        a {
          padding-left: 35px;

          background-image: url(/download.svg?v=1);
          &:hover { background-image: url(/download_white.svg?v=1); }
          background-repeat: no-repeat;
          background-size: 12px;
          background-position: 15px 8px;

          .type { font-weight: 400; }
          .size { font-weight: 400; }
        }
      }
    }
  }
}
