@mixin hover-images {
  a:hover {
    img {
      opacity: 1;
      -webkit-filter: saturate(150%);
      filter: saturate(150%);
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }
}
