@mixin hover-images {
  a:hover {
    img {
      opacity: 1;
      -webkit-filter: saturate(110%);
      filter: saturate(110%);
      -webkit-filter: brightness(1.1);
      filter: brightness(1.1);
    }
  }
}

@mixin menu-link {
  a {
    display: inline-block;
    color: #5f646e;
    &:hover {
      color: #000000;
      @include hover-transition(color);
    }
  }
  .active {
    border-bottom: 2px solid #ff6333;
    color: black;
  }
}

@mixin site-element-level-1 {
  font-size: 36px;
  font-weight: 300;
}

@mixin site-element-level-2 {
  font-size: 26px;
  font-weight: 300;
}

@mixin site-backlink {
  font-size: 13px;
  font-weight: 700;
}

@mixin hover-transition($properties) {
  $duration: .25s;
  $function: ease-in-out;
  -webkit-transition-property: $properties;
     -moz-transition-property: $properties;
          transition-property: $properties;
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
          transition-duration: $duration;
  -webkit-transition-timing-function: $function;
     -moz-transition-timing-function: $function;
          transition-timing-function: $function;
}

@mixin site-news {
  .title {
    @include site-element-level-2;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .date {
    color: #94a1a8;
  }
  .body {
    @include news-body;
  }
}
