@mixin hover-images {
  a:hover {
    img {
      opacity: 1;
      -webkit-filter: saturate(110%);
      filter: saturate(110%);
      -webkit-filter: brightness(1.1);
      filter: brightness(1.1);
    }
  }
}

@mixin menu-link {
  a {
    display: inline-block;
    color: #5f646e;
  }
  .active {
    border-bottom: 2px solid #ff6333;
    color: black;
  }
}
