.page-admin {

form.logout {
  float: right;
  margin-top: 30px;
}

.file {
  margin-bottom: 20px;
}

.path {
  font-size: 18px;
  color: #333;
}

.file .path {
  border-bottom: 1px solid #333;
}

.line {
  background-color: #eee;
  padding: 5px 0 5px 20px;
}

.file pre, pre.messages {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.file pre {
  &.del { background-color: #fee8e9; }
  &.add { background-color: #ded; }
  &:last-of-type { border-radius: 3px; }
}

#notice {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  color: #333;
  &.error { background-color: #faa; }
  &.success { background-color: #afa; }
  font-size: 20px;
  font-weight: 300;
}

input {
  padding: 4px 7px 4px;
  width: 700px;
  margin-right: -10px;
  font-family: monospace;

  border: 1px solid #ccc;
  &:focus { border: 1px solid #fff; }
}

form.commit {
  margin-bottom: 20px;
}

pre.messages {
  font-size: 14px;
  margin-bottom: 30px;
}

}
