@import 'config';
@import 'mixins';

.archive {
  $padding-x: 20px;
  $padding-y: 10px;

  .year .backborder_1 {
    $height: 6px;

    position: relative;
    height: $height;
    top: -$padding-y - $height;
    margin: 0 (-$padding-x + 10px);
    border: $separator-style;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .backborder_2 {
      $height: 5px;

      position: relative;
      height: $height;
      border: $separator-style;
      top: -$height;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin: 0 10px;
    }
  }

  .year {
    border: $separator-style;
    border-radius: 6px;
    padding: $padding-y $padding-x 20px;
    margin-bottom: 40px;
    .title {
      @include site-element-level-2;
    }
    a.teachings {
      font-size: 22px;
      font-weight: 300;
      padding-bottom: 5px;
      display: block;
    }
    $icon-right: 2px;
    $icon-width: 14px;
    $icon-left: 8px;
    $icon-full: $icon-right + $icon-width + $icon-left;
    .theme:before {
      display: inline-block;
      content: "";
      background-image: url(/folder.svg);
      background-repeat: no-repeat;
      height: 12px;
      width: $icon-width;
      position: relative;
      margin-left: -$icon-full + $icon-right;
      margin-right: $icon-left;
    }
    .theme {
      padding-left: $icon-full;
      margin: 8px 0px;
      .title {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
      }
      .size {
        color: #a0a0a0;
        font-size: 12px;
        font-weight: 400;
      }
    }
    hr:last-of-type {
      display: none;
    }
  }
}
