@import 'mixins';

.page-archive {

$padding-x: 20px;
$padding-y: 10px;

.backborder_1 {
  $height: 6px;

  position: relative;
  height: $height;
  top: -$padding-y - $height;
  margin: 0 (-$padding-x + 10px);
  border: $separator-style;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f9f9f9;
}

.backborder_2 {
  $height: 5px;

  position: relative;
  height: $height;
  border: $separator-style;
  top: -$height;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0 10px;
  background-color: #f5f5f5;
}

a {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 5px;
  display: block;
}

.year > .title { @include site-element-level-2; }

.year {
  border: $separator-style;
  border-radius: 6px;
  padding: $padding-y $padding-x 20px;
  margin-bottom: 40px;
}

.theme {
  background-image: url(/folder.svg?v=1);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: left 3px;

  padding-left: 24px;
  margin: 8px 0px;
}

.theme > .title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.size {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 400;
}

hr:last-of-type { display: none; }

}
