@import 'mixins';

.page-book {

border-top: $separator-style;
padding-top: 25px;

.title {
  @include site-element-level-2;
  margin-bottom: 5px;
}

img {
  display: inline-block;
  vertical-align: top;
  margin: 5px 15px 15px 0;
}

.info-column {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.info-column .title {
  margin-top: 25px;
}

table {
  border-bottom: $separator-style;
  td {
    font-size: 13px;
    padding-bottom: 8px;
  }

  tr:last-child td {
    padding-bottom: 18px;
  }

  td:nth-child(1) {
    font-weight: 600;
    padding-right: 20px;
    width: 100px;
  }

  td:nth-child(2) {
    font-weight: 400;
    color: #585c62;
  }
}

.book-category {
  margin: 10px 0px;
}

.book-category a {
  font-size: 13px;
  font-weight: bold;
}

.book-category .size {
  font-size: 10px;
  font-weight: bold;
  color:  #a0a0a0;
}

.heading > .self {
  padding-left: 2em;
  text-indent: -2em;
}

.heading > .children {
  padding-left: 1em;
}

}
