@import 'mixins';

.page-book {

hr {
  margin-top: 20px;
  margin-bottom: 22px;
}

// .annotation { margin-top: 15px; }

.title {
  @include site-element-level-2;
  margin-bottom: 5px;
}

img {
  display: inline-block;
  vertical-align: top;
  margin: 5px 15px 15px 0;
}

.info-column {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.properties {
  padding-bottom: 10px;
  border-bottom: $separator-style;
  td {
    font-size: 13px;
    padding-bottom: 8px;
  }

  td:nth-child(1) {
    font-weight: 600;
    padding-right: 20px;
    width: 100px;
  }

  td:nth-child(2) {
    font-weight: 400;
    color: #585c62;
  }
}

.categories {
  margin-top: 25px;
}

.categories .item {
  color:  #717783;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0px;
}

.categories .size {
  color:  #a0a0a0;
  font-size: 10px;
  font-weight: bold;
}

.headings > .heading {
  padding-left: 0;
}

.heading {
  padding-left: 1em;
}

}
