div.category {
  div.book {
    div.title {
      padding-top: 10px;
      font-weight: bold;
    }

    div.title > a { color: black; }
    div.title > a:hover { color: blue; }

    img.cover {
      border-style: solid;
      border-width: 1px;
      border-color: black;
      height: 300px;
    }

    display: inline-block;
    width: 250px;
    vertical-align: top;
    padding-right: 10px;
    margin-top: 30px;
  }

  div.menu {
    display: inline-block;
    float: right;
    width: 250px;
    vertical-align: top;
  }

  div.menu::after {
    content: " ";
    clear: both;
    display: block;
  }

  div.header {
    text-align: center;
    padding-bottom: 50px;

    h1 { margin-bottom: 0px; }
    h3 { margin-top: 5px; }
  }
}
