div.book {
  div.headings { padding-left: 2em; }

  div.heading {
    padding-left: 1em;
    text-indent: -2em;
  }

  div.cover {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }

  div.info {
    display: inline-block;
    width: 600px;
    vertical-align: top;

    div.table {
      display: table;
      padding: 0px 0px;

      div.row { display: table-row; }

      div.cell {
        display: table-cell;
        padding-top: 2px;
      }

      div.name {
        font-weight: bold;
        padding-right: 20px;
        text-align: right;
        width: 100px;
      }
    }
  }

  div.categories {
    display: inline-block;
    margin-left: 20px;

    h3 { margin-top: 0px; }
  }
}
