div.category {
  hr {
    border-top: 1px solid #eeeeee;
  }
  hr:last-child {
    display:none;
  }

  .books {
    margin-bottom: 50px;
    .name {
      font-size: 18px;
    }
  }
  div.book {
    div.title {
      margin-top: 15px;
      font-size: 13px;
      font-weight: bold;
    }
    a {
      color: black;
    }
    a:hover {
      color: #5185ea;
      img.cover {
        opacity: 1;
        -webkit-filter: saturate(150%);
        filter: saturate(150%);
        -webkit-filter: brightness(1.2);
        filter: brightness(1.2);
      }
    }
    div.author {
      margin-top: 7px;
      font-size: 11px;
      font-weight: bold;
      color: #717783;
    }


    img.cover {
      border-style: solid;
      border-width: 1px;
      border-color: #777777;
      height: 210px;
      -webkit-filter: saturate(100%);
      filter: saturate(100%);
    }

    display: inline-block;
    width: 170px;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
  }

  div.menu {
    display: inline-block;
    float: right;
    width: 350px;
    vertical-align: top;
    border-left: 1px solid #eeeeee;
    margin-left: 20px;
    padding-left: 20px;

    div.section {
      .title {
        font-weight: 500;
        font-size: 18px;
        padding-bottom: 10px;
      }
      .item {
        margin: 8px 0px;
        a {
          color:  #717783;
        }
        a:hover {
          color: #5185ea;
        }
        color:  #717783;
        font-size: 13px;
        font-weight: bold;
        .size {
          color:  #a0a0a0;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }

  div.menu::after {
    content: " ";
    clear: both;
    display: block;
  }

  div.header {
    text-align: left;
    padding-bottom: 20px;

    h1 { margin-bottom: 0px; }
    h3 {
      margin-top: 20px;
      font-size: 13px;
      font-weight: 700;
    }

    a {
      color: #4789d9;
    }
    a:hover {
      color:#6d9fff;
    }
  }
}
