.book {

  hr {
    margin-top: 20px;
    margin-bottom: 22px;
  }

  .header {
    .title {
      font-size: 36px;
      font-weight: 300;
      text-align: left;
      padding-top:18px;

    }
    .backlink {
      margin-top: 8px;
      font-size: 13px;
      font-weight: 700;

      a {
        color: #4789d9;
      }

      a:hover {
        color:#6d9fff;
      }
    }
  }

  .annotation {
    margin-top: 15px;
    .title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  .headings {
    .title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .items {
      padding-left: 1em;
      .heading {
        padding-left: 1em;
        text-indent: -2em;
      }
    }
    margin-bottom: 40px;
  }

  .cover {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    padding-top: 5px;
  }

  .info-column {
    display: inline-block;
    vertical-align: top;

    .info {
      .info-table {
        display: table;

        .row { display: table-row; }

        .cell {
          display: table-cell;
          font-size: 13px;
          padding-bottom: 8px;
        }

        .name {
          font-weight: 600;
          padding-right: 20px;
          width: 100px;
        }

        .value {
          font-weight: 400;
          color: #585c62;
        }
      }
    }

    hr {
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .categories {
      .title {
        font-size: 18px;
        font-weight: 400;
      }
      .item {
        color:  #717783;
        font-size: 13px;
        font-weight: 400;
        margin: 10px 0px;

        a {
          color:  #717783;
        }
        a:hover {
          color: #5185ea;
        }

        .size {
          color:  #a0a0a0;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 480px) {

  .book {
    .header {
      .title {
          font-size: 24px;
      }
    }

    .cover {
      padding-top: 5px;
    }
  }

  .info-column {
    padding-top: 20px;
  }
}
