.classes {
  .annual {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .section {
    > .title {
      font-size: 22px;
      font-weight: 400;
      margin: 20px 0px 10px;
    }
    .class {
      margin-bottom: 20px;
      img {
        display: inline;
        float: left;
        width: 250px;
        height: 150px;
        margin-right: 20px;
      }
      .description {
        .title {
          font-size: 18px;
          font-weight: 400;
          line-height: 1;
        }

        .dates {
          margin-top: 4px;
          font-size: 15px;
          font-weight: 400;
        }

        .days {
          margin-top: 4px;
          font-size: 15px;
          font-weight: 400;
        }

        .info {
          margin-top: 10px;
          color: #585c62;
        }
      }
    }
    .class::after {
      content: " ";
      clear: both;
      display: block;
    }
  }
}
