@import 'mixins';

.page-classes {

.annual {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section:nth-child(2) {
  border-top: $separator-style;
}

.title-section {
  @include site-element-level-2;
  margin: 20px 0px 10px;
}

.class {
  margin-bottom: 20px;
  overflow: auto;
}

img {
  float: left;
  width: 250px;
  height: 150px;
  margin: 10px 20px 0 0;
  border-radius: 2px;
}

.description { margin-left: 270px; }

.title-class {
  @include site-element-level-2;
  margin-bottom: 10px;
}

.timeshort {
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.note {
  display: inline;
  font-weight: 600;
}

.announce {
  display: inline;
}

.info {
  margin-top: 10px;
}

}


@media (max-width: 767px) {

.page-classes {

img {
  display: block;
  float: none;
}

.description { margin: 20px 0 0; }

}

}


@media (max-width: 480px) {

.page-classes {

img {
  width:100%;
  height: auto;
}

.description {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: $separator-style;
}

.class:last-child {
  .description { border-bottom: none; }
}

}

}
