@import 'config';

.classes {
  .annual {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .section {
    > .title {
      font-size: 26px;
      font-weight: 300;
      margin: 20px 0px 10px;
    }
    .class {
      margin-bottom: 20px;
      img {
        display: inline;
        float: left;
        width: 250px;
        height: 150px;
        margin-right: 20px;
      }
      .description {
        .title {
          font-size: 26px;
          font-weight: 300;
          line-height: 1;
          line-height: 0.7;
          margin-bottom: 18px;
        }

        .dates {
          margin-top: 4px;
          font-size: 15px;
          font-weight: 400;
        }

        .days {
          margin-top: 4px;
          font-size: 15px;
          font-weight: 400;
        }

        .info {
          margin-top: 10px;
          color: #585c62;
        }
      }
    }
    .class::after {
      content: " ";
      clear: both;
      display: block;
    }
  }
}


@media (max-width: 767px) {

.classes {
  .section {
    .class {
      img {
        display: block;
        float: none;
      }
      .description {
        margin-top: 20px;
      }
    }
  }
}

}


@media (max-width: 480px) {

.classes {
  .section {
    .class {
      img {
        width:100%;
        height: auto;
      }
      .description {
        margin-top: 20px;
        padding-bottom: 30px;
        border-bottom: $separator-style;
      }
    }
    .class:last-child {
      .description {
        border-bottom: none;
      }
    }
  }
}

}
