.page-contacts {

.metro {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.metro.red { background-color: #c00; }
.metro.blue { background-color: #039; }
.metro.grey { background-color: #a2a5b4; }
.metro.yellow { background-color: #ff7f00; }

.yandex-map { height: 600px; }

table {
  tr:first-child td {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    text-decoration: underline;
  }

  tr td:first-child {
    width: 92px;
    padding-right: 15px;
    font-weight: 600;
    text-align: right;
  }
}

table.spartakovskaya {
  min-width: 320px;
  max-width: 450px;
}

table.mytnaya { min-width: 320px; }

td.email {
  a, span {  display: inline-block; }
  a { width: 110px; }
  span { width: 150px; }
}

@media (max-width: 767px) {

.yandex-map { height: 300px; }

}

}
