.page-contacts {

#map {
  display: block;
  width: 100%;
  height: 600px;
  margin-top: 20px;
  border: 1px solid #dedede;
  background-image: url(/images/map_icon.svg?v=1);
  background-position: 50% 46%;
  background-size: 142px 77px;
  background-repeat: no-repeat;
  border-radius: 2px;
}


@media (max-width: 767px) {

#map {
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 0;
  margin-bottom: 30px;
}

}

}
