.donations {

table.sber {
  background-color: #eee;
  padding: 10px;
  display: block;
  border-radius: 5px;

  colgroup {
    col:nth-child(1) { width: 30%; }
    col:nth-child(2) { width: 70%; }
  }
}

}
