@import 'mixins';

.yandex-map {
  display: block;
  width: 100%;
  border: 1px solid #dedede;
  background-image: url(/images/map_icon.svg?v=1);
  background-position: 50% 46%;
  background-size: 142px 77px;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin: 20px 0 20px;
}

pre.site-error {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 20px 0;
}

pre.site-example {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.site-anchor {
  padding-top: 70px;
  margin-top: -70px;
}

// .page-header is occupied by bootstrap
.site-header {
  .title {
    @include site-element-level-1
    padding-top: 20px;
    line-height: 1.3;
  }
  a.backlink {
    display: block;
    margin-top: 10px;
    @include site-backlink;
  }
  margin-bottom: 20px;
}

a.site-button {
  padding: 5px 15px;
  margin: 10px 0px;
  display: inline-block;
  border-radius: 3px;

  background-color: #ffffff;
  border: 1px solid #4789d9;
  color: #4789d9;
  &:hover {
    color: #fff;
    background-color: #349ee0;
  }
}

button.site-button {
  display: inline-block;
  vertical-align: top;

  border-radius: 3px;
  padding: 5px 15px;

  background-color: #4789d9;
  border: none;
  color: #ffffff;
  height: 32px;

  &:hover {
    background-color:#3fb5ff;
  }

  transition: background-color .2s;
}

input {
  display: inline-block;
  vertical-align: top;

  color: #555;
  background-color: #fff;
  outline: 0;
  border-radius: 4px;
  height: 32px;
  padding: 4px 7px 6px;

  &:focus {
    box-shadow: 0 0 12px #58c1ff;
  }

  transition: all .15s ease-in-out;
}

hr {
  border-top: $separator-style;
}

ul, ol {
  padding-left: 17px;
  list-style-position: outside;
  color: #585c62;
  p {
    margin-left: 5px;
  }
}

body {
  color: #585c62;
}

a {
  color: #4789d9;
  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
  a:focus { text-decoration: none; }
}

h1 {
  color: $site-header-color;
  font-size: 26px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  color: $site-header-color;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

h3 {
  color: $site-header-color;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

h4 {
  color: $site-header-color;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px;
}

small {
  font-style: italic;
  font-weight: 300;
}

strong {
  color: #333;
}

pre {
  // first undo style brought by bootstrap
  padding: 0;
  margin-bottom: 20px;
  line-height: 20px;
  background-color: white;
  border: none;
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.site-tab {
  border-bottom: $separator-style;
  margin-bottom: 20px;
  a {
    @include menu-link;
    margin-right: 20px;
    padding-bottom: 10px;
  }
  a:last-child {
    margin-right: 0px;
  }
}

.site-baner {
  width: 100%;
  height: 150px;
  background-color: #ec6e6e;
  border-radius: 5px;
  border: 1px solid #d05e5e;
  margin-bottom: 20px;

  a { color: #333; }
  a:hover { color: #000 }

  img {
    height: 148px;
    width: auto;
    display: block;
    float: right;
    margin-right: 20px;
  }

  .message {
    padding: 18px 20px 20px 30px;
    font-weight: 400;
    color: white;
    display: table-cell;
    height: 148px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 1.3;
  }
}

.site-2-columns {
  font-size: 0px;
  > .side, .pagenum {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 50%;
    // this can't be margin or 2 column structure will break
    &:nth-of-type(odd) {
      padding-right: 15px;
    }
    &:nth-of-type(even) {
      padding-left: 15px;
    }

  }
  > .side {
    > img {
      display: block;
      width: 100%;
      margin: 20px 0 20px;
    }

    > .contents a {
      display: block;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 7px;
    }
  }
  > .pagenum {
    text-align: center;
    font-weight: 600;
    margin: 10px 0 40px;
  }
  > .pagenum.pre {
    text-align: left;
    white-space: pre;
    font-family: monospace;
  }
  > span.space {
    display: block;
    margin-top: 30px;
  }

}

.site-data-table {
  overflow: auto;
  margin: 20px 0 20px;
  table {
    width: 100%;
    border-collapse: collapse;
    tbody.header td {
      font-weight: bold;
    }
    tbody tr td {
      padding-bottom: 2px;
      vertical-align: top;
    }
    tbody.space tr td {
      padding-bottom: 5px;
    }
    // row spaces and border
    tbody {
      tr:first-of-type td { padding-top: 10px; }
      tr:last-of-type td { padding-bottom: 10px; }
      tr:last-of-type { border-bottom: $separator-style; }
      &:last-of-type tr:last-of-type { border-bottom: none; }
      &:first-of-type tr:first-of-type td { padding-top: 0px; }
    }
  }
}

table.site-sber-table {
  colgroup col:nth-child(1) { width: 150px; }
  max-width: 600px;
  min-width: 450px;
  background-color: #eee;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.news-2-tables {
  font-size: 0;
  overflow: auto;
  margin-bottom: 20px;
  .site-data-table {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 20px 20px 0 0;
    table { width: auto; }
  }
}

.site-events {
  vertical-align: top;
  border-left: 10px solid transparent;
  padding-left: 3px;
  margin-bottom: 10px;

  .event {
    font-size: 15px;
    font-weight: 400;
  }

  .time {
    float: left;
    display: inline-block;
    color: #5d646f;
  }

  .title.empty { color: #a0a9b8; }

  .event.conflict {
    .time,
    a { color: red; }
  }

  .event.cancel {
    .time,
    a {
      color: red;
      text-decoration: line-through;
    }
  }

  &.mytnaya { border-left: 10px solid #ffcc66; }
  &:last-child { margin-bottom: 0px; }
}

.site-record {
  color: #000;

  .index,
  .date { font-weight: 300; }

  .description { font-weight: 400; }

  .description a {
    display: block;
    padding-left: 21px;

    background-image: url(/images/play_video.svg?v=1);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: left 5px;
  }

  .description a:hover {
    background-image: url(/images/play_video_cyan.svg?v=1);
  }

  .download a {
    padding-left: 35px;
    font-weight: 400;

    background-image: url(/images/download.svg?v=1);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 15px 8px;
  }

  .download a:hover {
    background-image: url(/images/download_white.svg?v=1);
  }
}

.site-news {
  > .title {
    @include site-element-level-2;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  > .date { color: #94a1a8; }

  .stretched {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    embed, iframe {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.yandex-money { overflow: auto; }

@media (max-width: 1199px) {

.site-baner .message { font-size: 20px; }

}


@media (min-width: 992px) {

.site-2-columns > .side {
  > *:first-child { margin-top: 0; }
  > *:last-child { margin-bottom: 0; }
}

}


@media (max-width: 991px) {

.site-baner {
  height: auto;
  img { display: none; }
}

.site-2-columns {
  > .side {
    display: block;
    width: 100%;
    &:nth-of-type(odd) {
      padding-right: 0px;
    }
    &:nth-of-type(even) {
      padding-left: 0px;
    }
  }
  > span.space {
    display: none;
  }
  hr {
    display: none;
  }
  > .pagenum {
    display: none;
  }
}

}


@media (max-width: 480px) {

.site-header .title { font-size: 24px; }

.site-tab {
  a {
    margin-right: 10px;
    &:hover {
      color: #5f646e;
      transition: none;
    }
  }
  a.active {
    background-color: #ff6333;
    padding: 6px 9px 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    &:hover {
      color: white;
    }
  }
}

}
