@import 'mixins';
@import 'config';

.index {
  .head {
    overflow: auto;
    margin-top: 20px;
    $info-width: 40%;
    .info {
      float: left;
      width: $info-width;
      padding: 5px 20px 0 0;
      .top {
        font-size: 0px;
        img {
          display: inline-block;
          width: 113px;
          margin-right: 10px;
          vertical-align: middle;
        }
        .title {
          display: inline-block;
          vertical-align: middle;
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 0.8px;
        }
      }
      a {
        font-size: 13px;
        font-weight: 600;
      }
    }
    .slides {
      margin-left: $info-width;
      width: 100% - $info-width;
      padding-top: 20px;
      .fotorama {
        margin: auto;
        // reduces flickering on page open
        .fotorama__stage {
          height: 400px;
        }
      }
    }
  }
  .middle {
    $teachers-width: 40%;
    overflow: auto;
    .photo_container {
      float: left;
      padding-right: 20px;
      width: $teachers-width;
    }
    a {
      display: block;
      background-image: url(/geshela_main.jpg?v=1);
      background-size: 120%;
      background-position: -50px top;
      height: 170px;
      border-radius: 2px;
      .title {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        padding-top: 15px;
        padding-left: 20px;
      }
      .geshela {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding-top: 70px;
        padding-left: 20px;
      }
    }
    .quotes {
      margin-left: $teachers-width;
      .fotorama__stage {
        height: 100px;
      }
      .fotorama__nav::after {
        display: none;
      }
      .fotorama__nav-wrap {
        margin-top: 40px;
      }
    }
  }
  .dynamic {
    overflow: auto;
    .header {
      .title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 4px;
      }
      a {
        font-size: 13px;
        font-weight: 600;
      }
    }
    $left-width: 65%;
    > .news {
      width: $left-width;
      float: left;

      .feed {
        margin-top: 15px;
        margin-right: 20px;
        .title {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 10px;
        }
        .date {
          color: #94a1a8;
        }
        hr:last-child {
          display: none;
        }
      }
    }
    .right {
      margin-left: $left-width;
      @mixin index-block {
        margin: 30px 0 30px;
        border: $separator-style;
        border-radius: 5px;
        padding: 15px;
      }
      .timetable {
        @include index-block;
        margin-top: 10px;
        .site-events {
          .time { width: 110px; }
          .title { margin-left: 110px; }
        }
      }
      > .records {
        @include index-block;
        @include site-records;
        @include site-records-layout(0px);
        .records .record .index { display: none; }
      }
    }
  }
}


@media (max-width: 1199px) {
.index {
  .head {
    .info {
      .top {
        .title {
          font-size: 22px;
        }
      }
    }
  }
}

}


@media (max-width: 991px) {

.index {
  .head {
    .info {
      float: none;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: $separator-style;
      .top {
        width: 386px;
        margin: 0 auto;
      }
    }
    .slides {
      width: 100%;
      margin-left: 0;
    }
  }
  .middle {
    $teachers-width: 50%;
    .photo_container {
      width: $teachers-width;
      a {
        background-size: 125%;
        background-position: -60px;
      }
    }
    .quotes {
      margin-left: $teachers-width;
      .fotorama__html {
        text-align: center;
      }
    }
  }
}

}


@media (max-width: 991px) and (min-width: 768px) {

.index {
  .dynamic {
    .right {
      .timetable {
        .events {
          .event {
            .time {
              float: none;
            }
            .title {
              margin-left: 0;
            }
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

}


@media (max-width: 767px) {

.index {
  .middle {
    .photo_container {
      width: 100%;
      float: none;
      padding-right: 0;
      a {
        height: 250px;
        background-size: auto 140%;
        background-position: 60% -20px;
        .geshela {
          padding-top: 10px;
        }
      }
    }
    .quotes {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .dynamic {
    > .news {
      width: 100%;
      float: none;
      .feed {
        margin-right: 0px;
      }
    }
    .right {
      margin: 30px 0;
      width: 100%;
    }
  }
}

}


@media (max-width: 600px) {

.index {
  .middle {
    .photo_container {
      a {
        background-position: 70% -20px;
        .geshela {
          padding-top: 140px;
        }
      }
    }
  }
}

}


@media (max-width: 480px) {

.index {
  .head {
    .info {
      .top {
        width: 264px;
        .title {
          font-size: 18px;
          width: 140px;
          br:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

}
