@import 'mixins';
@import 'config';

.index {
  .head {
    overflow: auto;
    margin-top: 20px;
    $info-width: 500px;
    .info {
      float: left;
      width: $info-width;
      padding-right: 100px;
      .top {
        font-size: 0px;
        img {
          display: inline-block;
          width: 138px;
          vertical-align: middle;
        }
        .title {
          display: inline-block;
          width: 400px - 138px;
          vertical-align: middle;
          font-size: 22px;
          font-weight: 400;
        }
      }
      a {
        font-size: 13px;
        font-weight: 600;
      }
    }
    .slides {
      margin-left: $info-width;
      padding-top: 20px;
      .fotorama {
        width: 600px;
        margin: auto;
        // reduces flickering on page open
        .fotorama__stage {
          height: 400px;
        }
      }
    }
  }
  .middle {
    $teachers-width: 500px;
    overflow: auto;
    a {
      float: left;
      display: block;
      background-image: url(/teachers/geshela.jpg);
      height: 250px;
      width: $teachers-width;
      .title {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        padding-top: 30px;
        padding-left: 30px;
      }
      .geshela {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding-top: 80px;
        padding-left: 30px;
      }
    }
    .quotes {
      margin-left: $teachers-width + 20px;
      .fotorama__stage {
        height: 100px;
      }
      .fotorama__nav::after {
        display: none;
      }
    }
  }
  .dynamic {
    .header {
      .title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 4px;
      }
      a {
        font-size: 13px;
        font-weight: 600;
      }
    }
    $right-width: 400px;
    > .news {
      margin-right: $right-width;
      .feed {
        margin-top: 15px;
        margin-right: 100px;
        @include site-news;
      }
    }
    .right {
      float: right;
      width: $right-width;
      @mixin index-block {
        margin: 30px 0 30px;
        border: $separator-style;
        border-radius: 5px;
        padding: 15px;
      }
      .timetable {
        @include index-block;
        @include site-events;
        .events {
          display: inline-block;
          .event {
            .time {
              margin-right: 20px;
            }
          }
        }
      }
      > .records {
        @include index-block;
        @include site-records;
        @include site-records-layout(0px);
        .records .record .index { display: none; }
      }
    }
  }
}
