@import 'mixins';
@import 'config';

.index {
  display: table;
  width: 100%;
  .dynamic {
    display: table-row;
    .header {
      .title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 4px;
      }
      a {
        font-size: 13px;
        font-weight: 600;
      }
    }
    .news {
      display: table-cell;
      vertical-align: top;
      .feed {
        margin-top: 15px;
        margin-right: 100px;
        @include site-news;
      }
    }
    .right {
      display: table-cell;
      width: 400px;
      .timetable {
        margin: 30px 0 30px;
        border: $separator-style;
        border-radius: 5px;
        padding: 15px;
        @include site-events;
        .events {
          display: inline-block;
          .event {
            .time {
              margin-right: 20px;
            }
          }
        }
      }
      .records {
        @include site-records;
      }
    }
  }
}
