@import 'mixins';

#scrollUp {
  background-image: url(/to_top.png?v=1);
  background-size: contain;
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
  bottom: 15px;
  right: 0px;
  margin-right: 15px;
}

.panel {
  position: fixed;
  right: -220px;
  width: 220px;
  background: #2c3e50;
  z-index: 9999;
  border-radius: 0;

  a {
    display: block;
    border-bottom: 1px solid #34495D;
    padding: 13px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
  }
}

body {

background-color: #a35555;
margin-bottom: 50px;
background-image: url(/background_red.png?v=1);
background-size: 22px 32px;
font-family: 'Open Sans', sans-serif;
.container.body {
  padding-top: $site-navbar-height;
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
}

}

.footer {
  background: #34465a;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;

  > .links {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

    a {
      display: block;
      height: 25px;
    }

    a.regular {
      font-size: 13px;
      font-weight: 400;
      color: #d8e0e8;
      &:hover { color: $link-color-hover; }
    }

    a.sublink {
      font-size: 11px;
      font-weight: 400;
      color: #99a5b2;
      &:hover { color: #3fb5ff; }
    }
  }

  > .mail {
    display: inline-block;
    width: 380px;
    vertical-align: top;
    margin-left: 80px;
  }

  > .contacts {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    margin: 0 0 0 80px;
    color: #cbd6e2;
    font-size: 11px;
    font-weight: 400;

    a.facebook {
      float: right;
      width: 25px;
      height: 25px;
      margin: -3px 0 0 20px;

      background-image: url(/facebook.svg?v=1);
      transition: all ease 0.3s;
      opacity: 0.8;

      &:hover { opacity: 1; }
    }

    .left {
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: left 1px;
    }

    .copyright {
      float: left;
      width: 90px;
      background-image: url(/copyright.svg?v=1);
    }

    .name { margin-left: 90px; }

    .address {
      background-image: url(/pin.svg?v=1);
      margin: 5px 0px 14px;
    }

    .phone {
      float: left;
      background-image: url(/phone.svg?v=1);
      color:#cbd6e2;
      &:hover { color: $link-color-hover; }
    }

    a.old-site {
      display: block;
      text-align: right;
      color: #99a5b2;
      &:hover { color: $link-color-hover; }
    }
  }

}

@media (max-width: 1199px) {

.footer {
  > .mail { margin-left: 15px; }

  > .contacts {
    width: 310px;
    margin-left: 15px;
  }

}

}


@media (max-width: 991px) {

.footer {
  > .mail {
    margin-left: 40px;
    width: 470px;
  }

  > .contacts {
    display: block;
    width: auto;
    padding-top: 20px;
    border-top: 1px solid #5d6d84;
    margin: 20px 20px 0 20px;
    margin-top: 20px;
    margin-left: 20px;

    .address { margin: 18px 0px 18px; }
  }

}

}


@media (max-width: 767px) {

body {
  .container.body {
    position: absolute;
    width: 100%;
    border-radius: 0px;
  }

}

.footer {
  > .mail {
    display: block;
    width: auto;
    margin: 20px 20px 20px;
  }

  > .contacts {
    padding-top: 0;
    border-top: 0px;
  }
}

}

@media (max-width: 590px) {

.footer {
  .links.second {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    text-align: right;
  }

  > .mail {
    margin-left: 0;
    margin-right: 0;
  }

}

}


@media (min-width: 768px) {

#scrollUp {
  display: none !important;
}

}
