@import 'config';
@import 'global';

// this is from less variables of bootstrap
$navbar-height: 44px;

body {
  background-color: #a35555;
  margin-bottom: 50px;
  background-image: url(/background_red.png?v=1);
  background-size: 22px 32px;
  font-family: 'Open Sans', sans-serif;
  .container.body {
    padding-top: $navbar-height;
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
  }
}


nav {
  z-index: 1000;
  position: fixed;
  left: 0px;
  right: 0px;

  box-shadow:
    inset 0 1px 0
    rgba(255, 255, 255, 0.15),
    0 1px 5px
    rgba(0, 0, 0, 0.075);
  background: rgba(235, 238, 242, .90);
  border: 1px solid transparent;
  border-color: #e7e7e7;
  border-width: 0 0 1px;

  .container {
    height: $navbar-height;
    vertical-align: middle;

    .logo {
      margin-left: 5px;
      // merely to center thing vertically
      padding-top: 5px;
      display: inline-block;

      img {
        width: 34px;
        height: 34px;
      }
    }

    .links {
      display: inline-block;
      vertical-align: middle;
      @include menu-link;
      a {
        font-size: 12px;
        font-weight: 600;
        margin: 0px 15px;
        padding: 12px 0 12px;
      }
    }

    .menu-link {
      display: none;
    }
  }
}

.footer .contacts, .panel .contacts {
  color: #cbd6e2;
  font-size: 11px;
  font-weight: 400;

  // image size with padding is 18x17 px (original is *x14),
  // vertical padding is for alignment with text
  // horizontal is to make text after images to be aligned
  // in different rows
  img {
    padding-bottom: 3px;
  }

  .copyright {
    img {
      padding-right: 4px;
    }
  }

  .address {
    margin: 5px 0px 14px;

    img {
      float: left;
      padding-top: 2px;
    }

    span {
      display: block;
      margin-left: 22px;
    }
  }

  .phone {
    a {
      color:#cbd6e2;
    }
    a:hover {
      color: $link-color-hover;
    }

    img {
      padding-right: 4px;
    }
  }
}

$contacts-width: 400px;
$map-width: 220px;

.footer {
  background: #34465a;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;

  .map {
    float: left;
    width: $map-width;
  }

  .links {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    line-height: 25px;

    a {
      color: #d8e0e8;
      font-size: 13px;
      font-weight: 400;
      display: block;
    }

    a:hover {
      color: $link-color-hover;
    }

    .sublinks {
      line-height: 20px;
      a {
        color: #99a5b2;
        font-size: 11px;
        font-weight: 400;
        display: block;
        margin-top: 4px;
      }
      a:hover {
        color: #3fb5ff;
      }
    }
  }

  .mail {
    margin-right: $contacts-width;
    margin-left: $map-width + 80px;
  }

  .right {
    float: right;
    width: $contacts-width;
  }

  .right .contacts {
    margin-right: 80px;

    $copyright-width: 90px;
    .copyright {
      float: left;
      width: $copyright-width;
    }

    .name {
      margin-left: $copyright-width;
    }
  }

  .right a.facebook {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-top: -3px;

    background-image: url(/facebook.svg?v=1);
    -webkit-transition: all ease 0.3s;
       -moz-transition: all ease 0.3s;
            transition: all ease 0.3s;
    opacity: 0.8;
  }
  .right a.facebook:hover {
    opacity: 1;
  }

}


@media (max-width: 1199px) {

$contacts-width: 330px;

.footer {
  .mail {
    margin-right: $contacts-width;
    margin-left: $map-width + 20px;
  }

  .right {
    width: $contacts-width;
  }

  .right .contacts {
    margin-right: 60px;
  }

}

}


@media (max-width: 767px) {

body {
  .container.body {
    position: absolute;
    width: 100%;
    border-radius: 0px;
  }
}

nav {
  .container {
    .logo {
      margin-left: -5px;
    }
    .links {
      display: none;
    }
    .menu-link {
      position: absolute;
      margin-right: 10px;
      top: 5px;
      display: block;

      img {
        width: 34px;
        height: 34px;
      }
    }
  }

}

.footer {
  display: none;
}

#scrollUp {
  background-image: url(/to_top.png?v=1);
  background-size: contain;
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
  bottom: 15px;
  right: 0px;
  margin-right: 15px;
}

.panel {
  position: fixed;
  right: -15.625em; /*left or right and the width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
  background: #2C3E50;
  z-index: 9999;
  border-radius: 0px;

  .links {
    a {
      display: block;
      border-bottom: 1px solid #34495D;
      padding: 13px;
      font-size: 12px;
      letter-spacing: 1px;
      color: #fff;
    }
  }

  .contacts {
    padding-left: 15px;
    position: absolute;
    bottom: 15px;

    .name {
      padding: 0 21px 0 21px;
    }

  }
}

}


@media (min-width: 768px) {

#scrollUp {
  display: none !important;
}

}
