@import 'config';
@import 'global';

// this is from less variables of bootstrap
$navbar-height: 44px;
$nav-link-padding-x: 15px;

body {
  background-color: #a35555;
  margin-bottom: 50px;
  background-image: url(/background_red.png);
  font-family: 'Open Sans', sans-serif;
  .container.body {
    padding-top: $navbar-height;
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
  }
}


.navbar {
  background: rgba(235, 238, 242, .90);

  .navbar-brand {
    padding: 6px 5px 6px 20px;

    img {
      width: 34px;
      height: 34px;
      margin-top: -2px;
    }
  }

  .navbar-nav > li > a {
    color: #5f646e;
    font-size: 12px;
    font-weight: 600;
  }
  .menu-link {
    display: none;
  }
}

.footer {
  $contacts-width: 300px;
  background: #34465a;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;


  .links {
    margin-right: $contacts-width;
  }

  .links .column {
    display: inline-block;
    vertical-align: top;
    margin: 0px 30px;

    .menu {
      a {
        color: #d8e0e8;
        font-size: 13px;
        font-weight: 400;
        display: block;
      }

      a:hover {
        color: #5185ea;
      }

      line-height: 25px;
    }

    .submenu {
      a {
        color: #99a5b2;
        font-size: 11px;
        font-weight: 400;
        display: block;
      }
      line-height: 20px;
    }
  }

  .contacts {
    float: right;
    width: $contacts-width;
    padding-right: 30px;

    color: #cbd6e2;
    font-size: 11px;
    font-weight: 400;

    $copyright-width: 90px;
    .copyright {
      float: left;
      width: $copyright-width;

      img {
        padding: 0 3px 3px 0;
      }
    }

    .name {
      margin-left: $copyright-width;

      img {
        padding: 0 4px 3px 0;
      }
    }

    .address {
      margin: 5px 0px 14px;

      img {
        padding: 0 6px 3px 0;
      }
    }

    .phone {
      a {
        color:#cbd6e2;
      }
      a:hover {
        color: #5185ea;
      }

      img {
        padding: 0 4px 3px 0;
      }
    }
  }
}


@media (max-width: 767px) {

body {
  .container.body {
    position: absolute;
    width: 100%;
    border-radius: 0px;
  }
}

.navbar {
  .navbar-brand {
    padding: 6px 5px 6px 10px;
  }
  .nav.navbar-nav {
    display: none;
  }
  .menu-link {
    position: absolute;
    vertical-align: middle;
    right: 14px;
    top: 5px;
    display: table-cell;
    font-size: 25px;
  }

}

.footer {
  display: none;
}

#scrollUp {
  background-image: url(/to_top.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
  bottom: 20px;
  right: 20px;
}

.panel {
  position: fixed;
  right: -15.625em; /*left or right and the width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
  background: #2C3E50;
  z-index: 9999;
  border-radius: 0px;

  .links {
    a {
      display: block;
      border-bottom: 1px solid #34495D;
      padding: 13px;
      font-size: 12px;
      letter-spacing: 1px;
      color: #fff;
    }
  }

  .contacts {
    padding-left: 15px;
    color: #cbd6e2;
    font-size: 11px;
    position: absolute;
    font-weight: 400;
    bottom: 15px;

    .copyright {
      img {
        padding: 0 3px 3px 0;
      }
    }

    .name {
      margin: 4px 0px 14px;
      padding: 0 21px 0 21px;

      img {
        padding: 0 4px 3px 0;
      }
    }

    .address {
      margin: 5px 0px 14px;

      img {
        padding: 0 6px 3px 0;
      }
    }

    .phone {
      a {
        color:#cbd6e2;
      }

      a:hover {
        color: #5185ea;
      }

      img {
        padding: 0 4px 3px 0;
      }
    }
  }
}

}


@media (min-width: 768px) {

#scrollUp {
  display: none !important;
}

}
