@import 'mixins';

.site-contacts {

display: inline-block;
vertical-align: top;
width: 380px;
margin: 0 0 0 80px;
color: #cbd6e2;
font-size: 11px;
font-weight: 400;

a.facebook {
  float: right;
  width: 25px;
  height: 25px;
  margin: -3px 0 0 20px;

  background-image: url(/images/facebook.svg?v=1);
  transition: all ease 0.3s;
  opacity: 0.8;

  &:hover { opacity: 1; }
}

.left {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left 1px;
}

.copyright {
  float: left;
  width: 90px;
  background-image: url(/images/copyright.svg?v=1);
}

.name { margin-left: 90px; }

.address {
  background-image: url(/images/pin.svg?v=1);
  margin: 5px 0px 14px;
}

.phone {
  float: left;
  background-image: url(/images/phone.svg?v=1);
  color:#cbd6e2;
  &:hover { color: $link-color-hover; }
}

a.old-site {
  display: block;
  text-align: right;
  color: #99a5b2;
  &:hover { color: $link-color-hover; }
}

}


@media (max-width: 1199px) {

.site-contacts {

width: 310px;
margin-left: 15px;

}

}


@media (max-width: 991px) {

.site-contacts {

display: block;
width: auto;
padding-top: 20px;
border-top: 1px solid #5d6d84;
margin: 20px 20px 0 20px;
margin-top: 20px;
margin-left: 20px;

.address { margin: 18px 0px 18px; }

}

}


@media (max-width: 767px) {

.site-contacts {

padding-top: 0;
border-top: 0px;

}

}
