div.library {

  text-align: center;

  div.title {
    text-align: left;
    margin-bottom: 10px;
  }

  div.section {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0px 50px;
  }
}

div.header {
  h3 {
    font-size: 14px;
  }
}
