@import 'mixins';

.page-library {

background-image: url(/images/time.jpg?v=1);
background-position: 6% 90%;
background-size: 30%;
background-repeat: no-repeat;

.recent.tabletscreen {
  display: none;
}

.recent {
  width: 600px;
  float: right;
  margin-left: 100px;
}

.recent > .title {
  display: block;
  @include site-element-level-2;
  margin-bottom: 15px;
}

.section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 30px;
}

.section > .title{
  @include site-element-level-2;
  margin-bottom: 20px;
}

.book-category {
  margin-bottom: 7px;
}

.book-category a {
  font-size: 18px;
  font-weight: 400;
}

.book-category .size {
  font-size: 12px;
  font-weight: 400;
  color:  #a0a0a0;
}

overflow: auto;
}


@media (max-width: 1199px) {

.page-library {

.recent {
  width: 530px;
  margin-left: 0px;
}

// so that 3 book columns can fit
.book-thumb:nth-of-type(3n) {
  margin-right: 0px;
}

}

}


@media (max-width: 991px) {

.page-library {

background-position: 96% 50px;

.recent {
  width: 100%;
  float: none;
}

// undo above
.book-thumb:nth-of-type(3n) {
  margin-right: 20px;
}
// so that 4 book columns can fit
.book-thumb:nth-of-type(4n) {
  margin-right: 0px;
}

.recent.widescreen {
  display: none;
}

.recent.tabletscreen {
  display: block;
  padding-top: 20px;
  border-top: $separator-style;
}

}

}


@media (max-width: 767px) {

.page-library {

// undo above
.book-thumb:nth-of-type(4n) {
  margin-right: 20px;
}

}

}


@media (max-width: 480px) {

.page-library {

background-image: none;

.section > .title {
  @include site-element-level-2-480px;
}

.recent > .title {
  @include site-element-level-2-480px;
}

.book-thumb {
  margin: 0 0 40px 0;
  padding-bottom: 20px;
  border-bottom: $separator-style;
}

.book-thumb:last-child {
  border-bottom: none;
}

}

}
