@import 'mixins';

.page-library {

.bookcare {
  background-color: #ffe180;
  padding: 1px 20px 1px;
  text-align: justify;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.recent.tabletscreen {
  display: none;
}

.recent {
  width: 600px;
  float: right;
  margin-left: 100px;
}

.recent > .title {
  display: block;
  @include site-element-level-2;
  margin-bottom: 15px;
}

.section {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 30px;
  margin-right: 20px;
}

.section > .title{
  @include site-element-level-2;
  margin-bottom: 20px;
}

.book-category {
  margin-bottom: 7px;
}

.book-category a {
  font-size: 18px;
  font-weight: 400;
}

.book-category .size {
  font-size: 12px;
  font-weight: 400;
  color:  #a0a0a0;
}

overflow: auto;
}


@media (max-width: 1199px) {

.page-library {

.recent {
  width: 530px;
  margin-left: 0px;
}

}

}


@media (max-width: 1199px) and (min-width: 992px) {
// so that 3 book columns can fit
.book-thumb:nth-of-type(3n) { margin-right: 0px; }
}

@media (max-width: 991px) {

.page-library {

.recent {
  width: 100%;
  float: none;
}

.recent.widescreen {
  display: none;
}

.recent.tabletscreen {
  display: block;
  padding-top: 20px;
  border-top: $separator-style;
}

overflow: hidden;

}

}


@media (max-width: 991px) and (min-width: 768px) {
// so that 4 book columns can fit
.book-thumb:nth-of-type(4n) { margin-right: 0px; }
}


@media (max-width: 480px) {

.page-library {

.section > .title {
  @include site-element-level-2-480px;
}

.recent > .title {
  @include site-element-level-2-480px;
}

.book-thumb {
  margin: 0 0 40px 0;
  padding-bottom: 20px;
  border-bottom: $separator-style;
}

.book-thumb:last-child {
  border-bottom: none;
}

}

}
