div.main {
  text-align: center;

  div.menu {
    padding-top: 100px;
    text-align: left;
    display: inline-block;
  }

  form.subscription {
    padding-top: 50px;
    display: inline-block;
    input {
      width: 300px;
      display: inline;
    }
  }
}
