@import 'mixins';

.page-news-index {

.top .site-news {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.top > .menu {
  float: right;
  width: 200px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  border-left: $separator-style;
  span {
    padding: 4px 7px;
    border-radius: 2px;
    background-color: #ff6333;
    color: #ffffff;
  }
  a {
    padding-left: 7px;
  }

}

.top > hr { clear: both; }

.site-2-columns {
  > hr:nth-of-type(odd) { display: none; }
  > hr:last-of-type { display: none; }
}

}


@media (max-width: 991px) {

.page-news-index {

.top .site-news { width: 65%; }

.site-2-columns > hr {
  margin: 30px 0 30px;

  &:nth-of-type(odd) { display: block; }
  &:last-of-type { display: none; }
}

.top > hr { margin-bottom: 30px; }

}

}


@media (max-width: 767px) {

.page-news-index {

.top .site-news { width: 100%; }

.top > .menu {
  float: none;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  border-left: none;
  border-bottom: $separator-style;
  .item {
    display: inline;
    margin-right: 10px;
  }
}

}

}
