@import 'config';
@import 'news-body';

@mixin news {
  .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .date {
    color: #94a1a8;
  }
  .body {
    @include news-body;
  }
  .more a {
    padding: 5px 15px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
    background-color: #4789d9;
    border-color: #2e6da4;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #349ee0;
    }
  }
}

.news-index {
  .top {
    .menu {
      float: right;
      width: 200px;
      padding-left: 20px;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      border-left: $separator-style;
      .item {
        span {
        font-size: 13px;
        font-weight: bold;
        vertical-align: top;
        width: auto;
        margin-right: 18px;
        padding: 4px 7px;
        margin-top: -4px;
        border-radius: 2px;
        background-color: #ff6333;
        color: #ffffff;
          a {
            background-color: #ffffff;
            padding: 6px 8px;
            margin: -8px;
          }
        }

        .title {
          font-weight: 500;
          font-size: 18px;
          padding-bottom: 10px;
          margin-top: -6px;
        }
      }
    }
    hr {
      clear: both;
    }
    .news {
      width: 70%;
      padding-left:0px;
    }
  }
  .news {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    @include news;
  }
  .feed {
    font-size: 0px;
    margin-bottom: 30px;
    .news {
      padding-left:0px;
      padding-right:30px;
      .body {
        ul{
          li{
            margin-left: -22px;
            color: #585c62;
            p {
              margin-left: -6px;
            }
          }
        }
        .paragraph {
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
    .news:nth-child(even) {
      padding-right:0px;
    }

    hr:nth-of-type(odd){
      display: none;
    }
    hr:last-child {
      display: none;
    }
  }
}

.news-single {
  .news {
    @include news;
  }
}

@media (max-width: 992px) {
.news-index {
  .top {
    .news {
      width: 65%;
    }
  }
}
}

@media (max-width: 768px) {
  .news-index {
    .top {
      .news {
        width: 100%;
        padding-right: 0px;
      }
      .menu {
        float: left;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        border-left: 0px;
        border-bottom: 1px solid #dedede;
      }
    }
  }


  .feed {
    .news {
      width: 100%;
    }
    hr {
      margin-bottom: 30px;
    }

    hr:nth-of-type(odd) {
      display: block !important;
    }
    hr:last-child {
      display: none !important;
    }
  }

}