@import 'config';
@import 'news-body';
@import 'mixins';

@mixin news {
  .title {
    @include site-element-level-2;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .date {
    color: #94a1a8;
  }
  .body {
    @include news-body;
  }
  .more a {
    padding: 5px 15px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;

    background-color: #ffffff;
    border: 1px solid #4789d9;
    color: #4789d9;
    &:hover {
      color: #fff;
      background-color: #349ee0;
    }
  }
}

.news-index {
  .top {
    .menu {
      float: right;
      width: 200px;
      padding-left: 20px;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: bold;
      line-height: 28px;
      border-left: $separator-style;
      span {
        padding: 4px 7px;
        border-radius: 2px;
        background-color: #ff6333;
        color: #ffffff;
      }
      a {
        padding-left: 7px;
      }
    }
    hr {
      clear: both;
    }
    .news {
      width: 70%;
    }
  }
  .news {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    @include news;
  }
  .feed {
    margin-bottom: 30px;
    font-size: 0px;
    .news:nth-of-type(odd) {
      padding-right: 15px;
    }
    .news:nth-of-type(even) {
      padding-left: 15px;
    }

    hr:nth-of-type(odd){
      display: none;
    }
    hr:last-child {
      display: none;
    }
  }
}

.news-single {
  .news {
    @include news;
  }
  margin-bottom: 30px;
}


@media (max-width: 991px) {

.news-index {
  .top {
    .news {
      width: 65%;
    }
  }
}

}


@media (max-width: 767px) {

.news-index {
  .top {
    .news {
      width: 100%;
    }
    .menu {
      float: none;
      padding-left: 0px;
      margin-left: 0px;
      font-size: 16px;
      font-weight: 600;
      line-height: 32px;
      border-left: none;
      border-bottom: $separator-style;
    }
  }
  .feed {
    .news {
      width: 100%;
    }
    .news:nth-of-type(odd) {
      padding-right: 0px;
    }
    .news:nth-of-type(even) {
      padding-left: 0px;
    }
    hr {
      margin-bottom: 30px;
    }
    hr:nth-of-type(odd) {
      display: block;
    }
  }
}

}
