@import 'mixins';

.page-news-index {

.site-news.top { margin-right: 400px; }

> .block {
  float: right;
  width: 400px;
  padding: 0 0 20px 20px;
  margin: 0 0 20px 20px;
  border-left: $separator-style;

  h3 {
    color: $site-header-color;
    border-top: $separator-style;
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
    margin: 10px 0 22px;
  }

  h3:first-child {
    padding-top: 0;
    border-top: none;
    margin-top: 0;
  }

  .menu {
    font-size: 13px;
    font-weight: bold;

    span, a {
      display: inline-block;
      margin-bottom: 10px;
      padding: 4px 7px;
    }

    span {
      border-radius: 2px;
      background-color: #ff6333;
      color: #ffffff;
    }
  }

  .geshela { margin-top: 15px; }
}

> hr { clear: both; }

.site-2-columns > hr {
  &:nth-of-type(odd) { display: none; }
  &:last-of-type { display: none; }
}

}


@media (max-width: 991px) {

.page-news-index {

.site-news.top { margin-right: 250px; }

> .block { width: 250px; }

.site-2-columns > hr {
  margin: 30px 0 30px;

  display: block;
  &:nth-of-type(odd) { display: block; }
  &:last-of-type { display: none; }
}

> hr { margin: 30px 0 30px; }

}

}


@media (max-width: 767px) {

.page-news-index {

.site-news.top { margin-right: 0; }

> .block {
  float: none;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  border-left: none;
  border-bottom: $separator-style;

  .menu {
    font-size: 16px;
    font-weight: 600;
    a, span { margin-bottom: 5px; }
  }

  .geshela, h3 { display: none; }
}

}

}
