@import 'mixins';

.page-news-single {

.site-news {

  > a.backlink {
    display: block;
    margin: 20px 0px 10px;
    @include site-backlink;
  }

  > .title {
    @include site-element-level-1;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  &.short > .title {
    @include site-element-level-2;
  }

  &.short {
    width: 720px;
    margin: 0px auto;
  }
}

}


@media (max-width: 991px) {

.page-news-single >.site-news.short {
  display: block;
  width: 100%;
}

}


@media (max-width: 767px) {

.page-news-single .site-news > .title {
    @include site-element-level-2;
}

}
