@import 'mixins';

.page-news-index {

.site-news.top {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

> .menu {
  float: right;
  width: 200px;
  padding: 0 0 20px 20px;
  margin: 0 0 20px 20px;
  font-size: 13px;
  font-weight: bold;
  border-left: $separator-style;

  span, a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px 7px;
  }

  span {
    border-radius: 2px;
    background-color: #ff6333;
    color: #ffffff;
  }

}

> hr { clear: both; }

.site-2-columns > hr {
  &:nth-of-type(odd) { display: none; }
  &:last-of-type { display: none; }
}

}


@media (max-width: 991px) {

.page-news-index {

.site-news.top { width: 65%; }

.site-2-columns > hr {
  margin: 30px 0 30px;

  display: block;
  &:nth-of-type(odd) { display: block; }
  &:last-of-type { display: none; }
}

> hr { margin: 30px 0 30px; }

}

}


@media (max-width: 767px) {

.page-news-index {

.site-news.top { width: 100%; }

> .menu {
  float: none;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 600;
  border-left: none;
  border-bottom: $separator-style;
  a,
  span {
    margin-bottom: 5px;
  }
}

}

}
