@import 'config';
@import 'news-body';

@mixin news {
  .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .date {
    color: #94a1a8;
  }
  .body {
    @include news-body;
  }
  .more a {
    padding: 5px 15px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;

    background-color: #4789d9;
    border-color: #2e6da4;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #349ee0;
    }
  }
}

.news-index {
  .top {
    .menu {
      float: right;
      width: 200px;
      padding-left: 20px;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 13px;
      font-weight: bold;
      line-height: 28px;
      border-left: $separator-style;
    }
    hr {
      clear: both;
    }
    .news {
      width: 70%;
    }
  }
  .news {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    @include news;
  }
  .feed {
    margin-bottom: 30px;
    font-size: 0px;
    .news:nth-of-type(odd) {
      padding-right: 15px;
    }
    .news:nth-of-type(even) {
      padding-left: 15px;
    }

    hr:nth-of-type(odd){
      display: none;
    }
    hr:last-child {
      display: none;
    }
  }
}

.news-single {
  .news {
    @include news;
  }
}
