#site-subscription {
  // so that my lengthy 'nshyrokovskiy@gmail.com' fit
  padding: 15px;
  .welcome {
    color: #c8d7e2;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  background-color: #4b6077;
  border-radius: 4px;

  .subscribe-form.ml-block-success {
    // to hide initially
    display: none;
    font-size: 13px;

    color: white;
  }
  $button-width: 120px;
  .subscribe-form {
    margin: auto;
    position: relative;
    .form-section.edit {
      margin-right: $button-width - 3px;
      input {
        height: 32px;
        padding: 4px 7px 6px;
        border: 0px;
      }
      input:focus {
        border-color: #66afe9;
        border: 1px;
                box-shadow: 0 0 12px rgb(88, 193, 255);
        -webkit-box-shadow: 0 0 12px rgb(88, 193, 255);
      }
      .form-group {
        margin-bottom: 0;
      }
      // signalling on invalid email
      .form-group.ml-error .form-control {
        border: 2px solid red;
      }
    }
    .form-section.button {
      width: $button-width;
      position: absolute;
      top: 0;
      right: 0;
      button {
        width: 100%;
        border-radius: 3px;
        padding: 5px 15px;
        background-color: #4789d9;
        border: 1px solid #4789d9;
        color: #ffffff;
        transition: background-color .2s;
      }
      button:hover {
        background-color:#3fb5ff;
        border: 1px solid #3fb5ff;
      }
      button.loading {
        // to hide initially
        display: none;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

}
