@import 'config';
@import 'mixins';

.teachings {
  .theme {
    margin-bottom: 30px;
    .title {
      font-size: 26px;
      font-weight: 300;
    }
    @include site-records;
    .records {
      display: table;
      width: 70%;
      .record {
        display: table-row;

        .index, .description, .date, .download {
          border-bottom: $separator-style;
        }

        &:last-child {
          .index, .description, .date, .download {
            border-bottom: none;
          }
        }

        .index {
          display: table-cell;
          width: 40px;
          font-weight: 300;
          padding: 15px 0px 0px 10px;
        }

        .description {
          display: table-cell;
          padding-right: 40px;
          padding-bottom: 15px;
        }

        .date {
          display: table-cell;
          width: 115px;
        }

        .download {
          display: table-cell;
          width: 150px;
          padding-right: 10px;
        }
      }
    }
  }
}


@media (max-width: 1199px) {

.teachings {
  .theme {
    .records {
      display: table;
      width: 100%;
      .record {
        .index {
          padding-left: 0px;
        }
        .download {
          padding-right: 0px;
          text-align: right;
        }
      }
    }
  }
}

}


@media (max-width: 480px) {

.teachings {
  .theme {
    margin-bottom: 45px;
    .title {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 25px;
    }
    @include site-records-layout(30px);
    .records {
      .record {
        .description {
          padding-bottom: 0px;
        }
      }
    }
  }
}

}
