div.teachers {
  div.title {
    text-align: center;
    margin-bottom: 50px;
  }
  .line {
    display: table;
    .line-row {
      display: table-row;
      .cell {
        display: table-cell;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
