@import 'mixins';

.teachers {
  .board {
    overflow: auto;
    padding: 0 0 30px 0;
    .card {
      padding: 0;
      margin: 0;
      margin-right: 30px;
      width: 360px;
      float: left;
      img {
        width: 360px;
      }
      .name {
        font-size: 18px;
        font-weight: 400;
        margin: 10px 0 10px 0;
      }
    }

    @include hover-images

    .card:nth-child(3n) {
      margin-right: 0px;
    }
  }
}


@media (max-width: 1199px) {

div.teachers {
  .board {
    .card {
      width: 300px;
      margin-right: 20px;
      img {
        width: 300px;
      }
    }
  }
}

}

@media (max-width: 991px) {

div.teachers {
  .board {
    .card {
      width: 230px;
      margin-right: 15px;
      img {
        width: 230px;
      }
    }
  }
}

}


@media (max-width: 767px) {

div.teachers {
  .board {
    .card {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

}
