div.teachings {
  div.header {
    margin-bottom: 60px;
    text-align: center;

    h1 { margin-bottom: 0px; }
    h3 { margin-top: 5px; }
  }

  div.record {
    padding: 2px 40px;

    .index, .description, .date, .audio, .video { display: inline-block; }

    div.index { width: 30px; }
    div.description { width: 500px; }
    div.date { width: 100px; }
    div.audio { width: 150px; }
    div.video { width: 150px; }

    a.button { width: 100%; }
  }
}
