@import 'mixins';

$border-style: 1px solid #cccccc;

.page-timetable {

.months {
  @include site-element-level-2;
  margin: 20px 0px 10px;
}

.two-weeks,
.one-week {
  border-radius: 5px;
  border: $border-style;
  width: 100%;
  margin-bottom: 20px;
}

.two-weeks {
  display: table;
  .day-line { display: table-row; }
  .day {
    display: table-cell;
    width: 50%;
  }
}

.one-week { display: none; }

.day {
  padding: 16px 10px 12px;
  border-bottom: $border-style;
}

.date {
  font-size: 0px;
  float: left;
  vertical-align: top;
  width: 55px;
  padding: 4px;
  margin-top: -4px;
}

.month-day {
  display: inline-block;
  width: 20px;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
  color: #5d646f;
}

.week-day {
  display: inline-block;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #a0aab8;
}

.site-events {
  margin-left: 65px;
  .time { width: 120px; }
  .title { margin-left: 120px; }
}

.day:nth-child(2n + 1) { border-right: $border-style; }

.day.current {
  background: #f1f1f1;

  .date {
    background-color: #ff6333;
    border-radius: 2px;
  }

  .month-day,
  .week-day { color: #ffffff; }
}

.day-line:nth-of-type(7) {
  .day { border-bottom: none; }
}

.footnote { margin-bottom: 5px; }

.marker {
  float: left;
  width: 20px;
}

.marker.color {
  width: 10px;
  background-color: #ffcc66;
}

.text { margin-left: 20px; }
}


@media (max-width: 991px) {

.page-timetable {

.two-weeks { display: none; }
.one-week { display: block; }

.day { overflow: auto }
.day:nth-child(7) { border-bottom: none; }
.day:nth-child(2n + 1) { border-right: none; }

}

}


@media (max-width: 480px) {

.page-timetable {

.site-events {
  margin-left: 58px;
  border-left: 5px solid transparent;

  .time { width: 98px; }
  .title { margin-left: 98px; }
}

.site-events.mytnaya { border-left: 5px solid #ffcc66; }

.marker.color { width: 5px; }

}

}
