$border-style: 1px solid #cccccc;

.timetable {
  .months {
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0px 10px;
  }
  .table {
    display: table;
    margin-bottom: 50px;
    .day-line {
      display: table-row;
      .spacing {
        display: table-cell;
        width: 0px;
        border-right: $border-style;
      }
      .day {
        display: table-cell;
        padding: 16px 10px 12px;
        border-bottom: $border-style;

        .date {
          display: inline-block;
          vertical-align: top;
          width: 49px;
          margin-right: 18px;
          background-color: #ffffff;
          border-radius: 2px;
          padding: 4px;
          margin-top: -4px;

          .month-day {
            display: inline-block;
            width: 20px;
            text-align: right;
            font-size: 15px;
            font-weight: 400;
            color: #5d646f;
          }

          .week-day {
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            color: #a0aab8;
          }
        }

        .events {
          display: inline-block;
          vertical-align: top;
          .event {
            font-size: 15px;
            font-weight: 400;

            .time {
              display: inline-block;
              width: 120px;
              float: left;
              color: #5d646f;
            }
            .name {
              display: inline-block;
              color: black;
              &.empty {
                color: #a0a9b8;
              }
            }
          }
          .event.conflict {
            .time, .name{
              color: red;
            }
          }
          .event.cancel {
            .time, .name{
              color: red;
              text-decoration: line-through;
            }
          }
        }
      }

      .day.current {
        background: #f1f1f1;
        .date {
          display: inline-block;
          vertical-align: top;
          width: 49px;
          margin-right: 18px;
          background-color: #ff6333;
          border-radius: 2px;
          padding: 4px;
          margin-top: -4px;
          .month-day, .week-day {
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .day {
    .events {
      .event {
        .time {
          display: inline-block;
          width: 120px;
          color: #5d646f;
          margin-left: 6px;
        }

        .name {
          margin-left: 6px;
          margin-bottom: 15px;
        }
      }
    }
  }
}



@media (max-width: 768px) {
  .table.split {
    display: none;
  }

  .table.week-1 {
    display: table;
  }
  .timetable {
    .table {
      .day-line {
        .day, .day.current {
          .date {
            margin-right: 0px;
          }
          .events {
            .event {
              width: 215px;
              .name {
              float: left;
              clear: left;
              margin-bottom: 0px;
              margin-left: 3px;
              }
              .time {
                width: 95px;
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .table.split {
    display: table;
  }

  .table.week-1 {
    display: none;
  }
}

